<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ [SK module]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcean+ Station Keeping module
        <!-- </span> -->
      </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mc-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/">DOCUMENTATION</a>
      </li>
    </ul>
  </div>
</nav>

<!-- User inputs -->
<form action="/api/foundation1" method="get" target="_blank">
    <fieldset>
        <legend>Project information</legend>
        Name of your project:
        <input type="text" name="site_name"><br>
        Write a description:
        <input type="text" name="site_description"><br>
    </fieldset>
    <hr>
    <fieldset>
        <legend style= "font-family:garamond; text-align:center; text-decoration: underline; color:rgb(8, 60, 119)"><b>Inputs for foundation design</b></legend>
        <p><b>Pre-defined type of foundation:</b></p>
        <select name="found_type">
            <option value="0">To be defined</option>
            <option value="1">Shallow foundation</option>
            <option value="2">Pile foundation/anchor</option>
            <option value="3">Deadweight anchor</option>
            <option value="4">Drag anchor</option>
            <option value="5">Direct embedded anchor</option>
            <option value="6">Suction caisson</option>
        </select> <br/><br/>
        
        <p><b>Soil type:</b></p>
        <select name="soil_type">
          <option value="sc">Soft clay</option>
          <option value="stc">Stiff clay</option>
          <option value="ls">Loose sand</option>
          <option value="ms">Medium dense sand</option>
          <option value="hs">High dense sand</option>
          <option value="sr">Soft rock</option>
          <option value="hr">Hard rock</option>
        </select><br/><br/>
       </fieldset>
        <input type="submit" value="Run"><br><br>
</form>


<!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<img src="https://www.pattesetmoustaches.com/wp-content/uploads/2016/06/photo-de-chat-mignon-et-rigolo.jpg"  width="900" height="450" align="bottom">
    

  </body>
</html>

        <!--div class="col-xs-4"-->
            <!--div class="form-group"-->
            <!--label class="control-label"--><!--A file upload button without icon--><!--/label-->
            <!--input type="file" class="filestyle" data-icon="false"-->
            <!--/div-->
         <!--/div-->


