<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import { mapState } from 'vuex'
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
const animationDuration = 0
export default {
  data() {
    return {
      dataserie: [],
      data_temp: [],
      x_axis: [],
      x_axis_data: []
    }
  },
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '400px'
    },
    height: {
      type: String,
      default: '400px'
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project'])
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
    for (let i=0; i<this.Project.sk_inputs.device_properties.thrust_curve_ct.length; i++) {
      this.data_temp.push(Math.round(this.Project.sk_inputs.device_properties.thrust_curve_ct[i]*100)/100)
    }
    this.dataserie.push({
      name: 'Ct',
      type: 'line',
      data: this.data_temp,
      animationDuration,
      smooth: false,
    })
    for (let i=0; i<this.Project.sk_inputs.device_properties.thrust_curve_v.length; i++) {
      this.x_axis_data.push(Math.round(this.Project.sk_inputs.device_properties.thrust_curve_v[i]*100)/100)
    }
    this.x_axis.push({
      data: this.x_axis_data
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'line' // 'line' | 'shadow'
          }
        },
        grid: {
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: this.x_axis,
        yAxis: [{
          type: 'value',
          axisTick: {
            show: false
          }
        }],
        series: this.dataserie
      })
    }
  }
}
</script>
