<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="test_begin === true">
      <el-button type='info'
                  style="float:right"
                  @click.prevent="changePage('Devices_Positioning')"
                  id="Resume_button">Resume <i class="el-icon-arrow-right"></i> </el-button>
    </template>

    <div style="text-align:center">
      <span style="font-size:30px;font-weight:bold">
        Station Keeping home page
      </span>
      <!-- <br><br>
      <span>
        Debeo meorum semper debeo semper summorum quis publicae si censuerim publicae esse inimicus iure sicut atque senator censuerim hominum publicae rei depono summorum ego amicus consiliis ego omnium causa vultis inimicus omnium amicus publicae rei publicae inimicus semper petenda cum exempla omnium causa semper esse iure causa ego senator petenda senator tandem factis publicae Quid tandem iure iure inimicitias fui esse atque quis exempla causa homini consiliis ipsas consiliis iure senator omnium praesertim consiliorum publicae ipsas debeo si factorum si vultis fui si publicae atque inimicitias amicus sicut censuerim debeo tandem consiliorum atque petenda debeo iure publicae vultis hominum inimicitias.
      </span> -->
    </div>
    <br><br>

    <div class="app-text">
      
      <template v-if="Results == 'running'">
        <table style="width:60%;border:none;background-color:white;margin-left:auto;margin-right:auto">
          <tr>
            <td style="width:20%;border:none;background-color:white">
              <img center width="400px" src="@/assets/logos/create_project.png" @click.prevent="dialogFormVisible4 = true" style="cursor:pointer" id="create_project">
            </td>
            <td style="width:50%;border:none;background-color:white">
              <img center width="340px" src="@/assets/logos/load_project.png" @click.prevent="dialogFormVisible4 = true" style="cursor:pointer" id="load_project">
            </td>
          </tr>
        </table>
        <br>
        <table style="width:30%;border:none;background-color:white;margin-left:auto;margin-right:auto">
          <tr>
            <td style="border:none;background-color:white">
              <img center width="340px" src="@/assets/logos/export_project.png" @click.prevent="dialogFormVisible4 = true" style="cursor:pointer">
            </td>
          </tr>
        </table>
      </template>
      <template v-else>
        <table style="width:60%;border:none;background-color:white;margin-left:auto;margin-right:auto">
          <tr>
            <td style="width:20%;border:none;background-color:white">
              <img center width="400px" src="@/assets/logos/create_project.png" @click.prevent="dialogFormVisible = true" style="cursor:pointer" id="create_project">
            </td>
            <td style="width:50%;border:none;background-color:white">
              <img center width="340px" src="@/assets/logos/load_project.png" @click.prevent="dialogFormVisible2 = true; GetMyProjectList()" style="cursor:pointer" id="load_project">
            </td>
          </tr>
        </table>
        <br>
        <table style="width:30%;border:none;background-color:white;margin-left:auto;margin-right:auto">
          <tr>
            <td style="border:none;background-color:white">
              <img center width="340px" src="@/assets/logos/export_project.png" @click.prevent="dialogFormVisible3 = true; GetMyProjectList()" style="cursor:pointer">
            </td>
          </tr>
        </table>
      </template>
      
      <img center width="200px" src="@/assets/logos/dtoceanplus_logo.png" align="right" id="DTOCEAN_Logo">

      <el-dialog :visible.sync="dialogFormVisible" style="text-align:center" id="creation">

        <h2>Variables required for the creation</h2>
        <br>
        <h3 style="font-style: italic">Entity name</h3>
        <el-input v-model="Name" type="text" style="width:250px" placeholder="Name of the Entity" id="entity_name" />
        <br>
        <h3 style="font-style: italic">Running mode</h3>
        <el-radio-group v-model="Project.run_mode">
          <el-radio label="standalone" id="run_mode1"> Standalone </el-radio>
          <el-radio label="dto" id="run_mode2"> With other modules </el-radio>
        </el-radio-group>
        <br>
        <br>
        <h3 style="font-style: italic"> Complexity level <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click="dialogFormVisible5 = true" /> </h3>
        <el-radio-group v-model="ProjectStatus.complexity_level">
          <el-radio :label="1" id="complexity1"> Level 1 </el-radio>
          <el-radio :label="2" id="complexity2"> Level 2 </el-radio>
          <el-radio :label="3" id="complexity3"> Level 3 </el-radio>
        </el-radio-group>
        <span slot="footer" class="dialog-footer">
          <el-button type="info" @click.prevent="dialogFormVisible = false" id="cancel_creation">Cancel</el-button>
          <template v-if="Test_Fill(ProjectStatus.complexity_level) === 'false' || Name.length == 0">
            <el-button type="success" disabled>Confirm</el-button>
          </template>
          <template v-else>
            <el-button type="success" @click.prevent="cplx = ProjectStatus.complexity_level; rmode = Project.run_mode; dialogFormVisible = false; onCommit(); onCreate()" id="confirm_creation">Confirm</el-button>
          </template>
        </span>
      </el-dialog>

      <el-dialog :visible.sync="dialogFormVisible2" align="center" id="loading" width="62%">

        <el-row>
          <el-col :lg="8" style="position:relative;margin-left:34%;font-weight:bold;font-size:20px">
            <span>Select the project to load</span>
          </el-col>
          <el-col :lg="7">
            <input type="file" ref="import_file" accept=".dtosk" style="display:none" @change="handleImport()" />
            <el-button type="info" @click="$refs.import_file.click()">Import Project</el-button>
          </el-col>
        </el-row>
        <el-table :data="sk_projects"
                  element-loading-text="Loading"
                  border
                  fit
                  highlight-current-row
                  id="load_table"
                  style="border:none">
          <el-table-column prop="name"
                           label="Name"
                           width="200%"
                           align="center">
          </el-table-column>
          <el-table-column prop="time"
                           label="Date of creation"
                           width="200%"
                           align="center">
          </el-table-column>
          <el-table-column width="150%" align="center">
            <template slot-scope="scope">
              <el-button type="primary" @click.prevent="test_begin = true; GoToSelectedPage(sk_projects[scope.$index].name, 1);" id="modify_input">Open</el-button>
            </template>
          </el-table-column>
          <el-table-column width="100%" align="center">
            <template slot-scope="scope">
              <el-button type="danger" icon="el-icon-delete" @click.prevent="delete_index = scope.$index;dialogFormVisible6 = true" />
            </template>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="info" @click.prevent="dialogFormVisible2 = false" id="cancel_loading">Cancel</el-button>
        </span>
      </el-dialog>

      <el-dialog :visible.sync="dialogFormVisible3" align="center" id="loading" width="40%">

        <h2>Select the project to export</h2>
        <el-table :data="sk_projects"
                  element-loading-text="Loading"
                  border
                  fit
                  highlight-current-row
                  id="load_table">
          <el-table-column prop="name"
                           label="Name"
                           width="200%"
                           align="center">
          </el-table-column>
          <el-table-column prop="time"
                           label="Date of creation"
                           width="200%"
                           align="center">
          </el-table-column>
          <el-table-column width="165%" align="center">
            <template slot-scope="scope">
              <el-button type="primary" @click.prevent="generateExport(sk_projects[scope.$index].name)">Export</el-button>
            </template>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="info" @click.prevent="dialogFormVisible3 = false">Cancel</el-button>
        </span>
      </el-dialog>

      <el-dialog :visible.sync="dialogFormVisible4" align="center" id="loading" width="40%">

        <h2>The calculation is still running. Please wait until it is complete before Create/Load/Export a project</h2>
        <span slot="footer" class="dialog-footer">
          <el-button type="info" @click.prevent="dialogFormVisible4 = false">Close</el-button>
        </span>
      </el-dialog>

      <el-dialog :visible.sync="dialogFormVisible5" align="left" width="50%">

        <h2>Complexity Level 1 </h2>
        <br>
        <span> Refers  to  early  stages  of  conception  of  an  ocean  energy  project.</span>  <br>
        <br>
        <span style="font-weight:bold">Disponible feature(s) :</span> Endangered species <br>
        <span style="font-weight:bold">Needed input(s) : </span> Location of the farm
        <br><br>
        <h2>Complexity Level 2 </h2>
        <br>
        <span> Refers to stages where the ocean energy project is at the design optimisation and feasibility stage or even at the manufacturing and operability demonstration in representative environment stage, i.e.the project is at mid-mature testing phase.  <br>
        <br>
        <span style="font-weight:bold">Disponible feature(s) :</span> The four main functions (i.e. Endangered species; Environmental impacts; Carbon  FootPrint  and  Social  Acceptance)  can  be  partially  run  to  produce  an  incomplete  ESA assessment. <br>
        <span style="font-weight:bold">Needed input(s) : </span>General information on the farm (area description, fishing regulation), devices and foundations (dimensions, materials...), electrical parts (dimensions, materials) and logistics, fishing regulation, dimensions, resources, f foundations information   <br> 
        </span>
        <br><br>
        <h2>Complexity Level 3 </h2>
        <br>
        <span> Refers  to  commercial  array  demonstration  scale.  The  project  is  considered  completely  mature  at this stage </span><br>
        <br>
        <span style="font-weight:bold">Disponible feature(s) :</span> The ESA assessment is complete and includes all  functions developed under the four main functions. <br>
        <span style="font-weight:bold">Needed input(s) : All.</span>
        <span slot="footer" class="dialog-footer">
          <el-button type="danger" @click.prevent="dialogFormVisible5 = false">Close</el-button>
        </span>
      </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible6" align="center" width="50%">

      <h2> This entity will be deleted, do you want to continue ? </h2>
      <br>
      <el-button type="primary" @click="DeleteProject(sk_projects[delete_index].name);dialogFormVisible6=false"> Yes </el-button>
      <el-button type="danger" @click="dialogFormVisible6=false"> No </el-button>
    </el-dialog>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import JSZip, { files } from 'jszip'
import ZipLoader from 'zip-loader'
import { saveAs } from 'file-saver'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      sk_projects: [],
      dialogFormVisible: false,
      dialogFormVisible2: false,
      dialogFormVisible3: false,
      dialogFormVisible4: false,
      dialogFormVisible5: false,
      dialogFormVisible6: false,
      delete_index: '',
      list: [],
      project_id: '',
      study_id: '',
      entitylist: '',
      cplx: 0,
      rmode: 'standalone'
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'test_begin', 'GoToRunModule', 'Results', 'Name']),
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    },
    ProjectStatus: {
      get () {
        return this.$store.state.ProjectStatus
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectStatusAction', newValue)
      }
    },
    test_begin: {
      get () {
        return this.$store.state.test_begin
      },
      set (newValue) {
        return this.$store.dispatch('set_testbeginAction', newValue)
      }
    },
    GoToRunModule: {
      get () {
        return this.$store.state.GoToRunModule
      },
      set (newValue) {
        return this.$store.dispatch('set_GoToRunModuleAction', newValue)
      }
    },
    Results: {
      get () {
        return this.$store.state.Results
      },
      set (newValue) {
        return this.$store.dispatch('set_ResultsAction', newValue)
      }
    },
    Name: {
      get () {
        return this.$store.state.Name
      },
      set (newValue) {
        return this.$store.dispatch('set_NameAction', newValue)
      }
    }
  },
  methods: {
    handleImport() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      setTimeout(() => {
        loading.close();
      }, 1000);

      const file_dtosk = event.target.files[0]

      var ProjectName = file_dtosk.name.replace(".dtosk", "");
      var zip = new JSZip();

      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${ProjectName}/InitialiseImportedProject`
      axios.post(path)
      
      const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${ProjectName}/ImportProject`

      JSZip.loadAsync(file_dtosk).then(function (zip) {
        return zip.file("list_of_files.txt").async("text")
      }).then(function (txt) {
        var filenames = txt.split(',')
        for (let i=0;i<filenames.length;i++) {
          JSZip.loadAsync(file_dtosk).then(function (zip) {

            if (zip.file(filenames[i]) != null) {
              return zip.file(filenames[i]).async("text")
            } else {
              return false
            }
          }).then(function (txt) {
            if (txt !=false) {
              const payload = { 
                files: txt,
                name: filenames[i]
              }
              axios.post(path2, payload)
            }
          });
        }
      });
      
      setTimeout(function () {
        this.GoToSelectedPage(ProjectName, 1)
        this.test_begin = true;
      }.bind(this), 1000)

    },
    generateExport(name) {
      var zip = new JSZip();
      var count = 0;
      var zipFilename = name+".zip";

      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${name}/List2Zip`
      return axios.get(path)
        .then((res) => {
          var status = res.data[0]
          var input = res.data[1]
          var output = res.data[2]
          var figures_names = res.data[3]
          var figures = res.data[4]
          var mooring_system_names = res.data[5]
          var mooring_system = res.data[6]
          var nemoh_names = res.data[7]
          var nemoh = res.data[8]
          var nemoh_results_names = res.data[9]
          var nemoh_results = res.data[10]
          var nemoh_mesh_names = res.data[11]
          var nemoh_mesh = res.data[12]
          var logfile = res.data[13]
          
          var zip = new JSZip();

          const filenames = []

          if (status != false) {
            zip.file("status.json", status);
            filenames.push('status.json')
          }
          if (input != false) {
            zip.file("inputs.json", input);
            filenames.push('inputs.json')
          }
          if (output != false) {
            zip.file("outputs.json", output);
            filenames.push('outputs.json')
          }
          if (logfile != false) {
            zip.file("sk.log", logfile);
            filenames.push('sk.log')
          }

          var FF = zip.folder("figures");
          if (figures_names != false) {
            for (let i=0; i<figures_names.length;i++) {
              FF.file(figures_names[i],figures[i]);
              filenames.push('figures/'+figures_names[i])
            }
          }

          var MSF = zip.folder("Mooring_system");
          if (mooring_system_names != false) {
            for (let i=0; i<mooring_system_names.length;i++) {
              MSF.file(mooring_system_names[i],mooring_system[i]);
              filenames.push('Mooring_system/'+mooring_system_names[i])
            }
          }

          var NF = zip.folder("Nemoh");
          if (nemoh_names != false) {
            for (let i=0; i<nemoh_names.length;i++) {
              NF.file(nemoh_names[i],nemoh[i]);
              filenames.push('Nemoh/'+nemoh_names[i])
            }
          }

          var NFR = NF.folder("results");
          if (nemoh_results_names != false) {
            for (let i=0; i<nemoh_results_names.length;i++) {
              NFR.file(nemoh_results_names[i],nemoh_results[i]);
              filenames.push('Nemoh/results/'+nemoh_results_names[i])
            }
          }

          var NFM = NF.folder("mesh");
          if (nemoh_mesh_names != false) {
            for (let i=0; i<nemoh_mesh_names.length;i++) {
              NFM.file(nemoh_mesh_names[i],nemoh_mesh[i]);
              filenames.push('Nemoh/mesh/'+nemoh_mesh_names[i])
            }
          }

          zip.file('list_of_files.txt',String(filenames))

          zip.generateAsync({type:"blob"})
          .then(function(content) {
              // see FileSaver.js
              saveAs(content, name+'.dtosk');
          });
        })
    },
    loadOutputs(name) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/none/${name}/loadoutputs`
      return axios.post(path)
        .then((res) => {
          this.Results = res.data
        })
    },
    Test_Fill(test_variable) {
      if (test_variable === 0) {
        return ('false')
      } else {
        return ('true')
      }
    },
    DeleteProject(name) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${name}/DeleteProject`
      axios.delete(path)
        .then((res)=> {
          this.GetMyProjectList()
        })
    },
    onCommit() {
      this.$store.commit('set_Project', 1)
      this.$store.commit('set_TestBegin', true)
    },
    onCreate() {

      if (this.ProjectStatus.entity_id != '') {
        this.ProjectStatus.entity_id = ''
      }

      this.Project.sk_inputs.path_to_figure_folder = './storage/' + this.Name + '/figures'
      this.Project.sk_inputs.device_properties.mooring_design_criteria.mooring_output_folder_path = './storage/' + this.Name + '/Mooring_system'
      this.Project.name = this.Name

      const payload0 = {
        device_properties_page: this.ProjectStatus.device_properties_page,
        master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
        substation_properties_page: this.ProjectStatus.substation_properties_page,
        uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
        devices_positionning_page: this.ProjectStatus.devices_positionning_page,
        complexity_level: this.ProjectStatus.complexity_level,
        flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
        flag_url_sc_get_device_statistics: this.ProjectStatus.flag_url_sc_get_device_statistics,
        flag_url_mc_get_single_machine_hydrodynamic: this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic,
        flag_url_mc_get_wec_cplx1: this.ProjectStatus.flag_url_mc_get_wec_cplx1,
        flag_url_mc_get_wec_cplx2: this.ProjectStatus.flag_url_mc_get_wec_cplx2,
        flag_url_mc_get_wec_cplx3: this.ProjectStatus.flag_url_mc_get_wec_cplx3,
        flag_url_mc_get_tec_cplx1: this.ProjectStatus.flag_url_mc_get_tec_cplx1,
        flag_url_mc_get_tec_cplx2: this.ProjectStatus.flag_url_mc_get_tec_cplx2,
        flag_url_mc_get_tec_cplx3: this.ProjectStatus.flag_url_mc_get_tec_cplx3,
        flag_url_mc_get_general: this.ProjectStatus.flag_url_mc_get_general,
        flag_url_mc_get_dimensions: this.ProjectStatus.flag_url_mc_get_dimensions,
        flag_url_mc_get_machine: this.ProjectStatus.flag_url_mc_get_machine,
        flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
        flag_url_ec_get_farm_inputs: this.ProjectStatus.flag_url_ec_get_farm_inputs,
        flag_url_ed_get_study_results: this.ProjectStatus.flag_url_ed_get_study_results,
        entity_id: this.ProjectStatus.entity_id,
        entity_status: this.ProjectStatus.entity_status
      }
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name}/saveStatus`
      axios
        .post(path, payload0)
        .then((res) => {
          this.ProjectStatus = res.data
        })

      setTimeout(() => {

        const payload = {
          sk_inputs: this.Project.sk_inputs,
          catalogue_lines: this.Project.catalogue_lines,
          catalogue_anchors: this.Project.catalogue_anchors,
          name: this.Name,
          run_mode: this.rmode,
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
          url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
          url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
          url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
          url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
          url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
          url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
          url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
          url_mc_get_general: this.Project.url_mc_get_general,
          url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
          url_mc_get_machine: this.Project.url_mc_get_machine,
          url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
          url_sc_get_farm: this.Project.url_sc_get_farm,
          url_ed_get_input_config: this.Project.url_ed_get_input_config,
          url_ed_get_study_results: this.Project.url_ed_get_study_results
        }
        const my_name = this.Name + '_' + this.ProjectStatus.entity_id
        const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${my_name}/inputs`
        axios
          .post(path2, payload)
                
      }, 1200);
      setTimeout(() => {
        this.load_inputs()
      }, 1800);
      
      setTimeout(() => {
        this.$store.commit('set_GoToRunModule', false)
        this.Results = false
        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/PurgeTmpFolder`
        axios.post(path)
        this.ProjectStatus.complexity_level = this.cplx
        this.Project.run_mode = this.rmode
        this.$router.push({name: 'Devices_Positioning'})
      }, 2000);

    },
    GetMyProjectList() {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/GetProjectsList`
      axios.get(path)
        .then((res) => {
          this.sk_projects = res.data
        })
      const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/PurgeTmpFolder`
      axios.post(path2)
      },
    GoToSelectedPage(name, switch_test) {
      const payload = { name: name }
      this.InitialiseNemoh(payload)
      this.$store.commit('set_GoToRunModule', true)
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/none/${name}/loadinputs`
      axios.get(path)
        .then((res) => {
          this.Project = res.data[0]
          this.ProjectStatus = res.data[1]
          this.Name = res.data[0].name
        })
      this.loadOutputs(name)
      if (switch_test === 1) {
        this.$router.push({
          name: 'Devices_Positioning'
        })
      } else {
        this.$router.push({
          name: 'BOM'
        })
      }
    },
    InitialiseNemoh(payload) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/CopyNemohtoTMP`
      axios({
        method: 'post',
        url: path,
        params: payload
      })
    },
    changePage(pagename) {
      this.$router.push({
        name: pagename
      })
    },
    load_inputs() {
      const name = this.Name
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${name}/loadinputs`
      axios.get(path)
      .then((res) => {
        this.Project = res.data[0]
        this.ProjectStatus = res.data[1]
      })
    }
  }
}
</script>

<style lang="scss">

  html, body, #app {
    height: 100%;
  }

  body {
    min-width: 1300px;
    min-height: 650px;
  }

</style>
