<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import { mapState } from 'vuex'
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
const animationDuration = 0
export default {
  data() {
    return {
      data_temp: [],
      dataserie: []
    }
  },
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '500px'
    },
    height: {
      type: String,
      default: '500px'
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project'])
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
    for (let i=0; i<this.Project.sk_inputs.north.length; i++) {
      this.data_temp.push([this.Project.sk_inputs.east[i],this.Project.sk_inputs.north[i]])
    }
    this.dataserie.push({
      type: 'scatter',
      symbolSize: 12,
      data: this.data_temp,
      animationDuration
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'none',
          axisPointer: {
              type: 'cross'
          }
        },
        grid: {
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          min: 'dataMin',
          max: 'dataMax'
        },
        yAxis: {
          min: 'dataMin',
          max: 'dataMax'
        },
        series: this.dataserie
      })
    }
  }
}
</script>
