<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <template v-if="Results == 'running'">
      <el-alert
        type="warning"
        title="Warning !"
        description="No changes will be taken into account for the current calculation."
        :closable="false"
        show-icon
      />
    </template>
    <br>

    <img src="@/assets/logos/Substation_logo.png" alt="end spe" width="90" height="100" align="left" style="margin-right:10px">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Substation Properties </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>
    <ul>
      <table style="border:none;width:1000px">
        <tr>
          <td class="form_lines" style="width:185px">
            <span style="font-weight:bold;font-size:15px"> Is a substation required : </span>
          </td>
          <td class="form_lines">
            <el-switch
              v-model="Project.sk_inputs.substation_is_present"
              active-text="Yes"
              inactive-text="No"
              @change="delete_substations()"
              :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True'">
            </el-switch>
          </td>
          <template v-if="Project.sk_inputs.substation_is_present == true">
            <td class="form_lines" style="width:185px">
              <span style="font-weight:bold;font-size:15px"> Substation index : </span>
            </td>
            <td class="form_lines">
              <el-select v-model="substation_selection" placeholder="Select">
                <el-option
                  v-for="item in substation_index"
                  :key="item"
                  :label="'substation ' + item"
                  :value="item-1">
                </el-option>
              </el-select>
            </td>
            <td class="form_lines">
              <el-button type="info" @click.prevent="loading_substation(); include_substation(subindx); substation_index.push(subindx+1);subindx++"> Add Substation </el-button>
            </td>
            <td class="form_lines">
              <el-button type="danger" @click.prevent="delete_all_substations()"> Delete All Substations </el-button>
            </td>
          </template>
        </tr>
      </table>
    </ul>
    <br>
    <template v-if="Project.sk_inputs.substation_is_present === true">

      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Main Characteristics
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:190px">
                  <span style="font-weight:bold;font-size:15px"> Device mass : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].mass" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && Project.sk_inputs.substation_properties[substation_selection].mass != 0" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span>[kg]</span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px"> Water depth at <br> the substation position : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].water_depth" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && Project.sk_inputs.substation_properties[substation_selection].water_depth != 0" />
                </td>
                <td class="form_lines">
                  <span>[m]</span>
                </td>
              </tr>
            </table>
            <table style="width:1000px;border:none">
              <tr>
                <td class="form_lines" style="width:187px">
                  <span style="font-weight:bold;font-size:15px"> Position of the Centre Of Gravity in body-fixed coordinate system : </span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].cog[0]" style="width:150px" :controls="false" type="number" />
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].cog[1]" style="width:150px" :controls="false" type="number" />
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].cog[2]" style="width:150px" :controls="false" type="number" />
                </td>
              </tr>
            </table>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:187px">
                  <span style="font-weight:bold;font-size:15px"> Substation North <br> position : </span>
                </td>
                <td class="form_lines" style="width:190px">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].north" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && Project.sk_inputs.substation_properties[substation_selection].north != 0" />
                </td>
                <td class="form_lines" style="width:60px" />
                <td class="form_lines" style="width:145px">
                  <span style="font-weight:bold;font-size:15px"> Substation East <br> position : </span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].east" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && Project.sk_inputs.substation_properties[substation_selection].east != 0" />
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <div class="v-cloak">
          <h3 style="font-style: italic">Select the method to build wind and current force model and mean wave drift</h3>
          <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.method" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True'">
            <el-radio label="main_dimensions"> Main Dimensions </el-radio>
            <el-radio label="from_file"> From File </el-radio>
          </el-radio-group>
        </div>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Wind Force Model
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

          <template v-if="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.method === 'main_dimensions'">
            <ul>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-size:15px"> Device profile <br> exposed to wind : </span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_profile" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True'">
                      <el-radio label="cylinder"> Cylinder </el-radio>
                      <el-radio label="rectangle"> Rectangular </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-size:15px"> Exposed horizontal <br> main dimension : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_width" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && ((Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_width !=0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_height != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_width != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_height != 0))" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span>[m]</span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px"> Exposed vertical <br> main dimension : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_height" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && ((Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_width !=0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_height != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_width != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_height != 0))" />
                  </td>
                  <td class="form_lines">
                    <span>[m]</span>
                  </td>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="3">
          <template slot="title">
            <h2 class="h2_section">
              Current and Mean Wave Drift Force Model
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > Section Help </span>

          <template v-if="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.method === 'main_dimensions'">
            <ul>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-size:15px"> Device profile <br> exposed to current <br> and mean wave drift : </span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_profile" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True'">
                      <el-radio label="cylinder"> Cylinder </el-radio>
                      <el-radio label="rectangle"> Rectangular </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-size:15px"> Exposed horizontal <br> main dimension : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_width" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && ((Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_width !=0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_height != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_width != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_height != 0))" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span>[m]</span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px"> Exposed vertical <br> main dimension : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_height" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_study_results === 'True' && ((Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_width !=0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_dry_height != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_width != 0)||(Project.sk_inputs.substation_properties[substation_selection].steady_force_model.device_wet_height != 0))" />
                  </td>
                  <td class="form_lines">
                    <span>[m]</span>
                  </td>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="4">
          <template slot="title">
            <h2 class="h2_section">
              Foundation
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > Section Help </span>

          <h3 style="color:#16a085;font-size:20px">Seabed</h3>

          <ul>
            <template v-if="ProjectStatus.flag_url_sc_get_farm === 'True'">
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-size:15px"> Soil type : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-select v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type" style="width:175px">
                      <div v-for="(item,index) in Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_value" :key="index">
                        <el-option :value="Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_value[index]" style="font-size:15px"> {{ Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_name[index] }} </el-option>
                      </div>
                    </el-select>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
            </template>
            <template v-else>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-size:15px"> Soil type : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-select v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type" style="width:175px">
                      <el-option value="very_soft_clay" style="font-size:15px"> Very Soft Clay </el-option>
                      <el-option value="soft_clay" style="font-size:15px"> Soft Clay </el-option>
                      <el-option value="firm_clay" style="font-size:15px"> Firm Clay </el-option>
                      <el-option value="stiff_clay" style="font-size:15px"> Stiff Clay </el-option>
                      <el-option value="very_stiff_clay" style="font-size:15px"> Very Stiff Clay </el-option>
                      <el-option value="hard_clay" style="font-size:15px"> Hard Clay </el-option>
                      <el-option value="very_loose_sand" style="font-size:15px"> Very Loose Sand </el-option>
                      <el-option value="loose_sand" style="font-size:15px"> Loose Sand </el-option>
                      <el-option value="medium_dense_sand" style="font-size:15px"> Medium Dense Sand </el-option>
                      <el-option value="dense_sand" style="font-size:15px"> Dense Sand </el-option>
                      <el-option value="very_dense_sand" style="font-size:15px"> Very Dense Sand </el-option>
                      <el-option value="gravels_pebbles" style="font-size:15px"> Rock/Gravels/Pebbles </el-option>
                      <el-option value="custom" style="font-size:15px"> custom </el-option>
                    </el-select>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
            </template>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:190px">
                  <span style="font-weight:bold;font-size:15px"> Soil slope : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_slope" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines">
                  <span>steep >= 10° moderate < 10°</span>
                </td>
              </tr>
            </table>
            <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type === 'custom'">
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-size:15px"> Buoyant density : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_buoyant_weight" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span>[kg/m3]</span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px"> Soil cohesion : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-select v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type_def" style="width:175px">
                      <el-option value="cohesive" style="font-size:15px"> cohesive (ex: clay) </el-option>
                      <el-option value="cohesionless" style="font-size:15px"> cohesionless (ex: sand) </el-option>
                    </el-select>
                  </td>
                  <td class="form_lines" />
                </tr>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type_def === 'cohesive'">
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px"> Undrained shear strength : </span>
                  </td>
                  <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.undrained_shear_strength" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[Pa]</span>
                  </td>
                </tr>
              </template>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_type_def === 'cohesionless'">
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px"> Internal friction angle : </span>
                  </td>
                  <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.internal_friction_angle" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[deg]</span>
                  </td>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px"> Relative density index : </span>
                  </td>
                  <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.relative_density" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[-]</span>
                  </td>
                </tr>
              </template>
              </table>
            </template>
            <table style="border:none;style:width:1000px">
              <tr>
                <td class="form_lines" style="width:185px">
                  <span style="font-weight:bold;font-size:15px"> Soil safety factor : </span>
                </td>
                <td class="form_lines" style="width:208px">
                  <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_properties_sf">
                    <el-radio label="user" style="font-size:15px"> User </el-radio>
                    <el-radio label="default" style="font-size:15px"> Default </el-radio>
                  </el-radio-group>
                </td>
                <td class="form_lines">
                  <i class="el-icon-info" /> <span style="font-size:15px;font-style:italic"> If Default DNV-OSJ103 is used </span>
                </td>
              </tr>
            </table>
            <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.soil_properties_sf === 'user'">
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:222px">
                    <span style="font-weight:bold;font-size:15px"> Soil safety factor <br> value : </span>
                  </td>
                  <td class="form_lines" style="width:215px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.user_soil_properties_sf" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:50px" />
                </tr>
              </table>
            </template>
          </ul>
          <h3 style="color:#16a085;font-size:20px">Foundation Design</h3>
          <ul>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:185px">
                  <span style="font-weight:bold;font-size:15px"> Design load : </span>
                </td>
                <td class="form_lines" style="width:320px">
                  <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load_flag">
                    <el-radio label="auto"> Automatic </el-radio>
                    <el-radio label="manual"> Manual </el-radio>
                  </el-radio-group>
                </td>
                <td class="form_lines" />
              </tr>
            </table>
            <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load_flag == 'auto'">
              <i class="el-icon-info" /> <span style="font-weight:bold;font-size:15px"> Automatic (use load from ULS analysis)</span>
            </template>
          </ul>
          <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load_flag == 'manual'">
            <ul>
              <i class="el-icon-info" /> <span style="font-weight:bold;font-size:15px"> Manual (define load manually)</span>
              <br>
              <table style="border:none;width:550px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-size:15px"> Vertical minimal force </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[0]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N]</span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px"> Vertical maximal force </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[1]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N]</span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px"> Force on x </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[2]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N]</span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px"> Force on y </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[3]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N]</span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px"> Moment on x </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[4]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N.m]</span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px"> Moment on y </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.design_load[5]" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>[N.m]</span>
                  </td>
                </tr>
              </table>
              <div style="width:200px;margin-left:600px;position:relative;bottom:350px;margin-bottom:-150px">
                <i class="el-icon-info" /> <span style="font-size:16px;font-weight:bold"> The vertical minimal and maximal <br> forces are positive downwards.</span><br><span style="font-size:15px"> Example : <br> the Substation is Fixed : Vmin > 0 and Vmax > 0 </span>
              </div>
            </ul>
          </template>
          <ul>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:185px">
                  <span style="font-weight:bold;font-size:15px"> Load safety factor : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.SF" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines" />
              </tr>
            </table>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="170px">
                  <span style="font-weight:bold;font-size:15px"> Foundation type <br> selection : </span>
                </td>
                <td class="form_lines" style="width:300px">
                  <el-radio-group v-model="Foundation_selection">
                    <el-radio label="auto"> Automatic </el-radio>
                    <el-radio label="manual"> Manual </el-radio>
                  </el-radio-group>
                </td>
                <template v-if="Foundation_selection == 'auto'">
                  <td class="form_lines" style="width:515px">
                    <el-alert
                      type="warning"
                      title="Warning !"
                      description="Automatic foundation selected."
                      :closable="false"
                      show-icon
                    />
                  </td>
                </template>
                <template v-else>
                  <td class="form_lines" style="width:515px" />
                </template>
              </tr>
            </table>

            <template v-if="Foundation_selection === 'auto'">
              <div class="v-cloak">
                {{ Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference = 'evaluation' }}
                {{ Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_design_flag = 'auto' }}
              </div>
            </template>
            <template v-else>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].positioning_type === 'fixed'">
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-weight:bold;font-size:15px"> Foundation type : </span>
                    </td>
                    <td class="form_lines">
                      <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference">
                        <el-radio label="shallow"> Gravity </el-radio>
                        <el-radio label="pile"> Pile </el-radio>
                      </el-radio-group>
                    </td>
                  </tr>
                </table>
              </template>
              <template v-else>
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-weight:bold;font-size:15px"> Foundation type : </span>
                    </td>
                    <td class="form_lines">
                      <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference">
                        <el-radio label="gravity_anchor"> Gravity </el-radio>
                        <el-radio label="pile"> Pile </el-radio>
                        <el-radio label="drag_anchor"> Drag </el-radio>
                        <el-radio label="suction_caisson"> Suction Caisson </el-radio>
                      </el-radio-group>
                    </td>
                  </tr>
                </table>
              </template>
              <br>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'gravity_anchor'||Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'shallow'">
                <table style="width:1000px;border:none">
                    <tr>
                      <td class="form_lines" style="width:190px">
                        <span style="font-weight:bold;font-size:15px"> Foundation material : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_material" style="width:175px" :controls="false" type="text" />
                      </td>
                      <td class="form_lines" style="width:60px" />
                      <td class="form_lines" style="width:160px">
                        <span style="font-weight:bold;font-size:15px"> Foundation density: </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_material_density" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines">
                        <span>[kg/m3]</span>
                      </td>
                    </tr>
                </table>
              </template>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-size:15px"> Dimensioning <br> method : </span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_design_flag">
                      <el-radio label="auto"> Automatic </el-radio>
                      <el-radio label="manual"> Manual </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
              <br>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'shallow'">
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-weight:bold;font-size:15px"> Geometry preference : </span>
                    </td>
                    <td class="form_lines">
                      <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref">
                        <el-radio label="rectangular"> Rectangular </el-radio>
                        <el-radio label="cylinder"> Cylinder </el-radio>
                        <el-radio label="contact_points"> Contact points </el-radio>
                      </el-radio-group>
                    </td>
                  </tr>
                </table>
              </template>
              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'pile'">
                <br>
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:190px">
                      <span style="font-weight:bold;font-size:15px"> Deflection criteria : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.deflection_criteria_for_pile" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines" style="width:60px">
                      <span>[%]</span>
                    </td>
                    <td class="form_lines" style="width:160px">
                      <span style="font-weight:bold;font-size:15px"> Pile tip end : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-radio-group v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.pile_tip">
                        <el-radio label="open_end"> Open </el-radio>
                        <el-radio label="close_end"> Close </el-radio>
                      </el-radio-group>
                    </td>
                    <td class="form_lines" />
                  </tr>
                  <tr>
                    <td class="form_lines">
                      <span style="font-weight:bold;font-size:15px"> Pile length <br> above seabed : </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.pile_length_above_seabed" style="width:175px" :controls="false" type="number" />
                    </td>
                  </tr>
                </table>
                <div class="v-cloak">
                  {{ Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.dist_attachment_pa = 0 }}
                </div>
              </template>

              <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_design_flag == 'manual'">
                <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'pile' || Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'suction_caisson'">
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:192px">
                        <span style="font-weight:bold;font-size:15px"> Thickness : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.w_t" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines" style="width:60px">
                        <span>[m]</span>
                      </td>
                      <td class="form_lines" style="width:160px">
                        <span style="font-weight:bold;font-size:15px"> External <br> diameter : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.d_ext" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines">
                        <span>[m]</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="form_lines">
                        <span style="font-weight:bold;font-size:15px"> Burried <br> length : </span>
                      </td>
                      <td class="form_lines">
                        <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.length" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines">
                        <span>[m]</span>
                      </td>
                    </tr>
                  </table>
                </template>
                <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'gravity_anchor'||Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'shallow'">
                  <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref === 'rectangular'">
                    <table style="border:none;width:1000px">
                      <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Base length x : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_lx" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[m]</span>
                        </td>
                        <td class="form_lines" style="width:160px">
                          <span style="font-weight:bold;font-size:15px"> Base length y : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_ly" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[m]</span>
                        </td>
                      </tr>
                    </table>
                  </template>
                  <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref === 'contact_points'">
                    <table style="border:none;width:1000px">
                      <tr>
                      <td class="form_lines" style="width:460px">
                        <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Radius r1 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_r1" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[m]</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="form_lines" style="width:160px">
                          <span style="font-weight:bold;font-size:15px"> Radius r2 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_r2" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[m]</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Radius r3 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_r3" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[m]</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Angle a01 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_alpha01" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[deg]</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="form_lines" style="width:160px">
                          <span style="font-weight:bold;font-size:15px"> Angle a12 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_alpha12" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[deg]</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Angle a23 : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_alpha23" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[deg]</span>
                        </td>
                        </tr>
                      </td>
                      <td class="form_lines" style="width:460px">
                        <img src="@/assets/modules_images/contact_points_def.png" alt="end spe" width="400" height="300">
                      </td>
                      </tr>
                      <td class="form_lines" style="width:460px">
                      <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-size:15px"> Foundation mass : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.contact_points_mass" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[kg]</span>
                        </td>
                      </tr>
                      </td>
                    </table>
                  </template>
                  <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref === 'cylinder'">
                    <table style="border:none;width:1000px">
                      <tr>
                        <td class="form_lines" style="width:185px">
                          <span style="font-weight:bold;font-size:15px"> Base radius : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.base_r" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[m]</span>
                        </td>
                      </tr>
                    </table>
                  </template>
                  <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref === 'rectangular' || Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.geometry_pref === 'cylinder'">
                    <table style="width:1000px;border:none">
                      <tr>
                        <td class="form_lines" style="width:185px">
                          <span style="font-weight:bold;font-size:15px"> Base thickness : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.thickness" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[m]</span>
                        </td>
                      </tr>
                    </table>
                  </template>
                </template>
                <template v-if="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_preference === 'drag_anchor'">
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:185px">
                        <span style="font-weight:bold;font-size:15px"> Mass : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.custom_foundation_input.mass" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines">
                        <span>[kg]</span>
                      </td>
                    </tr>
                  </table>
                </template>
              </template>
              <table style="border:none;width:500px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-size:15px"> Foundation <br> material cost : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.substation_properties[substation_selection].foundation_design_parameters.foundation_cost_per_kilo" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span>[€/kg]</span>
                  </td>
                </tr>
              </table>
              <table style="border:none;width:800px">
                <tr>
                  <td class="form_lines" style="width:460px">
                    <i class="el-icon-info" /><span style="font-style:italic;font-size:15px"> Guidance: <br>  - Steel 0.4 - 1.2€/kg <br> - Concrete 0.08 - 0.125€/kg <br> - Drag anchors 5€/kg <br> - Pile/monopile 3.7€/kg</span>
                  </td>
                </tr>
              </table>
            </template>

          </ul>


        </el-collapse-item>
        <hr>

      </el-collapse>
    </template>

    <template v-if="ProjectStatus.complexity_level == 3">
      <el-button type='info'
                style="float:left;font-family:Open Sans"
                @click.prevent="changePage('Master_Structure_Properties')"><i class="el-icon-arrow-left"></i>Previous Page </el-button>
    </template>
    <template v-else>
      <el-button type='info'
                style="float:left;font-family:Open Sans"
                @click.prevent="changePage('Device_Properties')"><i class="el-icon-arrow-left"></i>Previous Page </el-button>
    </template>

    <el-button type='info'
              style="float:right;font-family:Open Sans"
              @click.prevent="changePage('ULS_FLS_Analysis_Parameters')">Next Page <i class="el-icon-arrow-right"></i> </el-button>
      <template v-if="ProjectStatus.complexity_level === 3">
        <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px;font-family:Open Sans"> 4/5 </span>
      </template>
      <template v-else>
        <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px;font-family:Open Sans"> 3/4 </span>
      </template>
    <template v-if="GoToRunModule === true">
      <br><br><br>
      <el-button type='info'
              style="float:right;margin-left:25px;font-family:Open Sans"
              @click.prevent="changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

    </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      activeNames: [],
      Foundation_selection: 'auto',
      substation_index: [],
      substation_selection: 0,
      subindx: 0
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'GoToRunModule', 'Results', 'Name']),
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    }
  },
  beforeMount() {
    console.log(this.Project.sk_inputs.substation_properties)
    if (this.Project.sk_inputs.substation_properties.length == 0) {
      this.include_substation(0)
    }
  },
  mounted() {
    for (let i = 0; i < this.Project.sk_inputs.substation_properties.length; i++) {
      this.substation_index.push(i+1)
      this.subindx++
    }
    if (this.Project.sk_inputs.substation_properties[this.substation_selection].foundation_design_parameters.foundation_preference === 'evaluation') {
      this.Foundation_selection = 'auto'
    } else {
      this.Foundation_selection = 'manual'
    }
  },
  methods: {
    changePage(pagename) {
      this.ProjectStatus.substation_properties_page = true
      this.ProjectStatus.entity_status = 40
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Main Characteristics',
        message: '<span>Mass, water depth, position of the substation are provided by ED module in integrated mode. Position of the COG is to be provided in the body-fixed coordinate system (z=0 corresponding to the sea bottom).</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Wind Force Model',
        message: '<span>The wind force model will add a constant force during the static analysis of the ULS analysis due to the wind velocity. If the device is completely submerged, the user can choose not to include any wind force model. In integrated mode, data come from the MC module.</span>' +
          '<h3> Device profile exposed to wind </h3> <span>Indicates the type of drag coefficient to be used in the wind force model</span>' +
          '<h3> Exposed horizontal and vertical main dimensions </h3> <span>Used to compute the area exposed to the wind to derive the wind force. Positive values are expected. The vertical dimension will always be represented from the sea surface level and upwards.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Current and Mean Wave Drift Force Model',
        message: 'Current and Mean Wave Drift Force Model',
        message: '<span>A current and mean drift force model will add a constant force during the static analysis of the ULS analysis, due to (i) the current velocity, and (ii) the wave height and period. Note that for a TEC, the current force will come in addition to the rotor force. Also note that for a fixed device with a monopile foundation, a current force will be automatically applied to the monopile. Therefore you do not need to model it here. In integrated mode, data come from the MC module.</span>' +
          '<h3> Device profile exposed to current and mean wave drift </h3> <span>Indicates the type of coefficient to be used in the current and mean wave drift force models</span>' +
          '<h3> Exposed horizontal and vertical main dimensions </h3> <span>Used to compute the area exposed to the current and waves to derive the current force and mean wave drift force. Positive values are expected. Note that for a fixed device, the vertical dimension is defined from the sea bottom and upwards, while for a floating device, it is defined from the sea surface level and downwards.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Foundation',
        message: 'This section gathers the inputs necessary to the definition of the foundation or anchors.' +
          '<h3> Soil type </h3> <span>The user can select the soil type within a default list (the list comes from SC in integrated mode), or input his own custom soil properties. If "custom" is chosen, the user needs to input the buoyant density of the soil, the soil cohesion (cohesive or cohesionless). If "cohesive" is selected, the Undrained Shear Strength is required. If "cohesionless" is selected, the Internal Friction Angle and the Relative Density Index are requested. In the particular case of gravity base foundations of fixed device with contact points (and not a contact surface) on rocky soil, it is recommanded to select "Custom" and "Cohesionless" and specify the Internal Friction Angle: this value will be used as the friction coefficient between the foundation and the rock soil</span>' +
          '<h3> Soil slope </h3> <span>Slope of the sea bottom. This may influence the ULS criteria calculation due to a slightly different load vector projection.</span>' +
          '<h3> Soil safety fator </h3> <span>Used to defined the uncertainty on the soil properties. "Default" uses the DNVGL-OSJ103 value (1.3). By selecting "User", the value can be chosen by the user.</span>'+
          '<h3> Design load </h3> <span>Method to define the design load applied to the foundation to compute the ULS criteria. "Automatic" means that the forces computed during the ULS analysis will be applied at the foundation/anchors. For a fixed foundation, the forces are the sum of the wind, current, waves, gravity and rotor (if any) forces. For a floating device, this will be the maximum line tension observed in the line segment connected to the anchor. If "Manual" is chosen, the design load can be specified manually. In the latter case, vertical forces are positive downwards (as this is usually the convention in geotechnics).</span>' +
          '<h3> Load safety factor </h3> <span>Safety factor that will be applied to the design load when checking the ULS criteria.</span>' +
          '<h3> Foundation type selection </h3> <span>By selecting "Automatic", the SK module will select the most appropriate foundation. This functionality is very basic, so it is recommanded to select "Manual" as soon as the user has an idea of the type of foundation he would like to consider.</span>' +
          '<h3> Foundation type </h3> <span>The user can choose between Gravity, Pile, Drag anchors or suction caisson for anchors, or Gravity and Piles (monopiles) for fixed devices.</span>' +
          '<h3> Foundation material cost </h3> <span>Cost of the foundation material in [€/kg].</span>'+
          '<h3> Dimensioning method </h3> <span>By selecting "Automatic", the dimensions of the foundation/anchor will be determined by the SK module so that the ULS criteria are passed. By selecting "manual", the ULS criteria will be computed for the user-defined design.</span>'+
          '<h3> Gravity - Geometry preference </h3> <span>The user can choose the shape of the gravity base foundation/anchor: "rectangular", "cylinder" or "contact poitns". If "Contact points" is selected, the gravity base foundation is modelled as a weight with 3 contact points on the sea bed (which is relevant e.g. for rock soil). the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Gravity - Foundation material and density </h3> <span>Foundation material and density can be chosen for foundation of type "Gravity". the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Gravity - Base length x, length y, thickness </h3> <span>For manual definition of a rectangular gravity foundation, the users needs to define the x, y and thickness dimensions.</span>'+
          '<h3> Gravity - Base radius, thickness </h3> <span>For manual definition of a cylindrical gravity foundation, the users needs to define the radius and thickness dimensions.</span>'+
          '<h3> Gravity - Radius r1, r2, r3 and Angles a01, a12, a23 </h3> <span>For manual definition of a "contact point" foundation, the three radii and angles of each contact points must be defined. THe mass of the foundation also need to be defined: the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Pile - Deflection criteria </h3> <span>For definition of a pile, the deflection criteria value (treshold) is used to check the ULS criteria (lateral capacity). It is expressed in terms of % of the external diameter of the pile.</span>'+
          '<h3> Pile - Pile tip end </h3> <span>For definition of a pile, the user needs to define if the pile tip end is open or close. It influences the calculation of the bearing capacity criteria.</span>'+
          '<h3> Pile - Pile length above seabed </h3> <span>The pile length above seabed is taken into account in the calculation by increasing the foudnation weight and adding a drag current force to the design load.</span>'+
          '<h3> Pile - Burried length, Thickness, External diameter </h3> <span>For manual definition of a pile, the user needs to specify the burried length, wall thickness and external diameter of the pile.</span>'+
          '<h3> Drag anchor - Selection </h3> <span>The user has to select from the catalogue the anchor he would like to use in the design. Two anchors are provided in the default catalogue.</span>'+
          '<h3> Drag anchor - Mass </h3> <span>For manual definition of a drag anchor, the mass of the drag anchor has to be defined.</span>'+
          '<h3> Suction caisson - Burried length, Thickness, External diameter </h3> <span>For manual definition of a suction caisson, the user needs to specify the burried length, wall thickness and external diameter of the suction caisson.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    include_substation(idx) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${idx}/add_substation`
      const payload = {
          sk_inputs: this.Project.sk_inputs,
          run_mode: this.Project.run_mode,
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
          url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
          url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
          url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
          url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
          url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
          url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
          url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
          url_mc_get_general: this.Project.url_mc_get_general,
          url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
          url_mc_get_machine: this.Project.url_mc_get_machine,
          url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
          url_sc_get_farm: this.Project.url_sc_get_farm,
          url_ed_get_input_config: this.Project.url_ed_get_input_config,
          url_ed_get_study_results: this.Project.url_ed_get_study_results
      }
      axios
        .post(path, payload)
        .then((res) => {
          this.Project = res.data
        })
    },
    delete_substations(){
      this.Project.sk_inputs.substation_properties = []
      this.substation_index = [1]
      this.subindx = 1
      this.include_substation(0)
      this.substation_selection = 0
    },
    delete_all_substations() {
      this.Project.sk_inputs.substation_properties = []
      this.Project.sk_inputs.substation_is_present = 'False'
    },
    loading_substation() {
      const loading = this.$loading({
        lock: true,
        text: 'Adding substation',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      setTimeout(() => {
        loading.close();
      }, 500);
    }
  }
}
</script>

<style lang="scss">

.h2_section {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  font-family: "Rajdhani";
}

table {
  border-collapse: collapse;
  border: 1px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1px solid #a9a3a3;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}
</style>
