<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <ul>
      <el-row>
        <el-col :lg="5" style="margin-left:80px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToBOM()"
          >
            <el-row>
              <img src="@/assets/logos/BOM.png" width="25" height="30" align="left">
              <ul>
                <span> Bill of <br> Materials </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:35px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToEI()"
          >
            <el-row>
              <img src="@/assets/logos/green.png" width="35" height="30" align="left">
              <ul>
                <span> Environmental <br> Impact </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:20px">
          <el-button
            type="info"
            style="font-size:15px"
            disabled
          >
            <el-row>
              <img src="@/assets/logos/design_assessment.png" width="30" height="28" align="left">
              <ul>
                <span> Design <br> Assessment </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:10px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToUF()"
          >
            <el-row>
              <img src="@/assets/logos/ULS_FLS.png" width="30" height="28" align="left">
              <ul style="padding-top:5px">
                <span> ULS / FLS </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
      </el-row>
    </ul>
    <br>
    <br>
    <img src="@/assets/logos/design_assessment.png" alt="end spe" width="110" height="100" align="left">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Design Assessment </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>

    <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar" > Section Help </span>

    <template v-if="Results === false">
      <span style="font-weight:bold"> No results available for this project </span>
    </template>

    <template v-else-if="Results === 'running'">
      <span style="font-weight:bold"> The calculation is in progress </span>
    </template>
    <template v-else>
      <br>
      <span style="font-weight:bold; font-style:italic"> Select one of the items to display the corresponding results </span>
      <ul>
        <el-select v-model="item_selection">
          <el-option v-for="(item, index) in Results.design_assessment.devices" :key="index" :value="index" :label="'Device n°'+[index+1]" style="font-size:15px"> Device n°{{ index+1 }}</el-option>
          <template v-if="is_masterstructure === true">
            <el-option :value="'masterstructure'" :label="'Masterstructure'" style="font-size:15px"> Masterstructure </el-option>
          </template>
          <template v-if="is_substation === true">
            <el-option v-for="(item, index) in substation_selection" :key="item" :value="item" :label="'Substation n°'+[index+1]" style="font-size:15px"> Substation n°{{ index+1 }}</el-option>
          </template>
        </el-select>
      </ul>
      <template v-if="item_selection[0] == 's'">
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.substation[parseInt(item_selection.replace(/s/g, ''))] }}
        </div>
      </template>

      <template v-else-if="item_selection === 'masterstructure'">
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.master_structure }}
        </div>
      </template>

      <template v-else>
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.devices[item_selection] }}
          {{ index_mooring_system = item_selection }}
        </div>
      </template>
      <h2 class="h2_section">
        Design
      </h2>

      <ul>
        <h3 style="color:#16a085">Mooring system</h3>
      </ul>
      <template v-if="variable_temp.design_results.mooring.line_properties.length === 0">
        <ul>
          <ul>
            <span style="font-weight:bold"> This structure is bottom fixed (no mooring system) </span>
          </ul>
        </ul>
      </template>

      <template v-else>
        <el-button type="primary" @click.prevent="export_mooring_system()" style="font-size:16px">
          Export Mooring System
        </el-button>
        <ul>
          <ul>
            <table>
              <tr>
                <td style="font-weight:bold; width:200px;font-family:Open Sans">Line Name</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">Start Point <br> (x,y,z)</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">End Point <br> (x,y,z)</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">Material</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">Diameter [m]</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">Length [m]</td>
                <td style="font-weight:bold; width:160px;font-family:Open Sans">Cost [€]</td>
              </tr>
              <tr v-for="(item2, index2) in variable_temp.design_results.mooring.line_properties" :key="(item2, index2)">
                <td>Line n°{{ variable_temp.design_results.mooring.line_properties[index2].line_number }}</td>
                <td>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].anchor_node_number - 1].position[0]*100)/100 }}
                  <br>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].anchor_node_number - 1].position[1]*100)/100 }}
                  <br>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].anchor_node_number - 1].position[2]*100)/100 }}
                </td>
                <td>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].fairlead_node_number - 1].position[0]*100)/100 }}
                  <br>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].fairlead_node_number - 1].position[1]*100)/100 }}
                  <br>
                  {{ Math.round(variable_temp.design_results.mooring.node_properties[variable_temp.design_results.mooring.line_properties[index2].fairlead_node_number - 1].position[2]*100)/100 }}
                </td>
                <td>{{ variable_temp.design_results.mooring.line_dictionnary[variable_temp.design_results.mooring.line_properties[index2].line_type_index].material }}</td>
                <td>{{ variable_temp.design_results.mooring.line_dictionnary[variable_temp.design_results.mooring.line_properties[index2].line_type_index].diameter }}</td>
                <td>{{ Math.round(variable_temp.design_results.mooring.line_properties[index2].unstretched_length*100) /100 }}</td>
                <td>{{ Math.round((variable_temp.design_results.mooring.line_properties[index2].unstretched_length * variable_temp.design_results.mooring.line_dictionnary[variable_temp.design_results.mooring.line_properties[index2].line_type_index].cost_per_meter)*100)/100 }}</td>
              </tr>
            </table>
          </ul>
        </ul>

        <ul>
          <h3 style="color:#16a085">Mooring pretension</h3>
        </ul>
        <ul>
          <ul>
            <table>
              <tr>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">Line Name</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">Pretension at start point</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">Pretension at end point</td>
              </tr>
              <tr v-for="(item_device, index_device) in variable_temp.design_results.mooring.line_properties" :key="(item_device,index_device)">
                <td>Line n°{{ variable_temp.design_results.mooring.line_properties[index_device].line_number }}</td>
                <td>{{ Math.round(variable_temp.uls_results.mooring_pretension[index_device][0]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.mooring_pretension[index_device][1]*100)/100 }}</td>
              </tr>
            </table>
          </ul>
        </ul>

        <template v-if="item_selection !== 'masterstructure'">
          <ul>
            <h3 style="color:#16a085">Estimated eigenperiod of the anchored floater [s]</h3>
          </ul>
          <ul>
            <ul>
              <table>
                <td v-for="(item, index) in variable_temp.uls_results.eigenperiod" :key="(item,index)"> {{ Math.round(item*100)/100 }} </td>
              </table>
            </ul>
          </ul>

          <ul>
            <h3 style="color:#16a085">Mooring stiffness</h3>
          </ul>
          <ul>
            <ul>
              <table>
                <tr v-for="(item, index) in variable_temp.uls_results.mooring_stiffness[0]" :key="(item,index)">
                  <td v-for="(item2, index2) in variable_temp.uls_results.mooring_stiffness[1]" :key="(item2,index2)">
                    <template v-if="variable_temp.uls_results.mooring_stiffness[index][index2]<1 && variable_temp.uls_results.mooring_stiffness[index][index2]>-1">
                      {{ toScientific(variable_temp.uls_results.mooring_stiffness[index][index2]) }}
                    </template>
                    <template v-else>
                      {{ Math.round(variable_temp.uls_results.mooring_stiffness[index][index2]*100)/100 }}
                    </template>
                  </td>
                </tr>
              </table>
            </ul>
          </ul>
        </template>
      </template>

      <ul>
        <h3 style="color:#16a085">Anchor / Foundation</h3>
      </ul>

      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === ''">
        <ul>
          <ul>
            <span style="font-weight:bold"> No Anchor or Foundation defined for this structure </span>
          </ul>
        </ul>
      </template>

      <template v-else-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'drag_anchor'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Length [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Width [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Height [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Mass [kg] </td>
              </tr>
              <tr>
                <td> Drag Anchor </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.dim_a*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.dim_b*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.dim_ef*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.weight*100)/100 }} </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>

      <template v-else-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'gravity_anchor' || variable_temp.design_results.anchor_and_foundation.foundation_type === 'shallow'">
        <ul>
          <ul>
            <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.geometry_pref === 'rectangular'">
              <table>
                <tr>
                  <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Length-x [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Length-y [m] </td>
                </tr>
                <tr>
                  <td> Rectangular Gravity foundation </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_lx*100)/100 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_ly*100)/100 }} </td>
                </tr>
              </table>
            </template>
            <template v-else-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.geometry_pref === 'cylinder'">
              <table>
                <tr>
                  <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Diameter [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Thickness [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Mass [kg] </td>
                </tr>
                <tr>
                  <td> Cylindrical Gravity Foundation </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_radius*2*100)/100 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.thickness*1000)/1000 }} </td>
                  <td> {{ Math.round((variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.found_weight/9.81)*100)/100 }} </td>
                </tr>
              </table>
            </template>
            <template v-else-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.geometry_pref === 'contact_points'">
              <table>
                <tr>
                  <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Radius r1 [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Radius r2 [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Radius r3 [m] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Angle a01 [deg] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Angle a12 [deg] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Angle a23 [deg] </td>
                  <td style="width:200px;font-weight:bold;font-family:Open Sans"> Mass [kg] </td>
                </tr>
                <tr>
                  <td> Three contact points foundation </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_r1*100)/100 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_r2*100)/100 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_r3*100)/100 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_alpha01*10)/10 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_alpha12*10)/10 }} </td>
                  <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.base_alpha23*10)/10 }} </td>
                  <td> {{ Math.round((variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.found_weight/9.81)*100)/100 }} </td>
                </tr>
              </table>
            </template>
          </ul>
        </ul>
      </template>

      <template v-else-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'pile'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Diameter [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Thickness [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Total length [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Buried length [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Mass [kg] </td>
              </tr>
              <tr>
                <td> Pile Foundation </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.d_ext*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.w_t*1000)/1000 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.total_length*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.plength*100)/100 }} </td>
                <td> {{ Math.round((variable_temp.design_results.anchor_and_foundation.pile_foundation_design.pile_weight/9.81)*100)/100 }} </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>

      <template v-else-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'suction_caisson'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:250px;font-weight:bold;font-family:Open Sans"> Type </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Diameter [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Thickness [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Length [m] </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Mass [kg] </td>
              </tr>
              <tr>
                <td> Suction Caisson </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.d_ext*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.w_t*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.length*100)/100 }} </td>
                <td> {{ Math.round(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.anchor_mass*100)/100 }} </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>
      <hr>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import download from 'downloadjs'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      activeNames: [],
      item_selection: 0,
      is_masterstructure: '',
      is_substation: '',
      variable_temp: '',
      switch1: 'static',
      switch2: 'main',
      environment_selection: 1,
      search_max: 0,
      index_max_line: 0,
      index_max_env: 0,
      search_max2: 0,
      index_max_line2: 0,
      index_max_env2: 0,
      openEnvInfo: false,
      index_env: 0,
      substation_selection: [],
      index_mooring_system: ''
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  beforeMount() {
    this.InitialiseLocalVariables()
  },
  methods: {
    InitialiseLocalVariables() {
      if (this.Results.design_assessment.master_structure.design_results.anchor_and_foundation.foundation_type === '') {
        this.is_masterstructure = false
      } else {
        this.is_masterstructure = true
      }
      if (this.Results.design_assessment.substation.length == 0) {
        this.is_substation = false
      } else {
        this.is_substation = true
        for (let i=0; i<this.Results.design_assessment.substation.length; i++) {
          this.substation_selection.push('s' + i)
        }
      }
    },
    GoToBOM() {
      this.$router.push({ name: 'BOM' })
    },
    GoToEI() {
      this.$router.push({ name: 'Environmental_Impact' })
    },
    GoToUF() {
      this.$router.push({ name: 'ULS_FLS' })
    },
    toScientific(value) {
      if (value !== 0) {
        var notation = Number.parseFloat(value).toExponential(2)
      } else {
        notation = value
      }
      return notation
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Design Assessment',
        message: '<span> This section summarizes the main dimensions of the Station Keeping components, either defined by the user or calculated by the SK module. </span>',

        duration: 0,
        position: 'top-right'
      })
    },
    export_mooring_system() {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/GetMooringSystem`
      const payload = {
        solver_options: this.variable_temp.design_results.mooring.solver_options,
        line_dictionnary: this.variable_temp.design_results.mooring.line_dictionnary,
        node_properties: this.variable_temp.design_results.mooring.node_properties,
        line_properties: this.variable_temp.design_results.mooring.line_properties,
        name: this.Name + "_ms"
      }
      axios.post(path, payload)
      .then((res)=>{
        download(JSON.stringify(res.data), this.Name + "_ms.json", "text/plain")
      })
    }
  }
}
</script>

<style lang="scss">

  .h2_section {
    user-select: none;
    font-size: 25px;
    font-family: "Rajdhani";
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}
</style>
