<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <template v-if="Results == 'running'">
      <el-alert
        type="warning"
        title="Warning !"
        description="No changes will be taken into account for the current calculation."
        :closable="false"
        show-icon
      />
    </template>
    <br>
    <img src="@/assets/logos/Device_positioning_logo.png" alt="end spe" width="100" height="100" align="left" id="Logo">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Farm layout </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>
    <h2 class="h2_section"> Farm data </h2>

    <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

    <ul>
      <table style="border:none;width:1000px;margin-left:-8px">
        <tr>
          <td class="form_lines" style="width:190px">
            <span style="font-weight:bold;font-size:15px"> Sea water density : </span>
          </td>
          <td class="form_lines" style="width:209px">
              <el-input-number v-model="Project.sk_inputs.water_density" style="width:175px" id="water_density" />
          </td>
          <td class="form_lines" style="width:60px">
            <span>[kg/m3]</span>
          </td>
          <td class="form_lines" />
        </tr>
      </table>
    </ul>

    <ul>
      <span style="font-weight:bold;font-size:15px"> Device position </span>
      <br><br>
      <div class="v-cloak">
        {{ deviceId = Project.sk_inputs.deviceId }}
        {{ east = Project.sk_inputs.east }}
        {{ north = Project.sk_inputs.north }}
        {{ yaw = Project.sk_inputs.yaw }}
        {{ water_depth = Project.sk_inputs.water_depth }}
      </div>
      <el-button type="info"
                  @click.prevent="addNewElement(deviceId), addNewElement(east), addNewElement(north), addNewElement(yaw), addNewElement(water_depth);forceRenderer()"
                  id="add_element"
                  :disabled="ProjectStatus.flag_url_ec_get_farm === 'True'"
                  style="font-family:Open Sans">
        Add device
      </el-button>
      <el-button style="margin-left:20px;font-family:Open Sans" type="primary" @click.prevent="DialogVisible = true" :disabled="ProjectStatus.flag_ec === 'True'" >Load Excel File</el-button>
      <br>
      <br>

      <table>
        <tbody>
          <tr>
            <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
            <td style="font-weight:bold;font-family:Open Sans"> Device Id </td>
            <td style="font-weight:bold;font-family:Open Sans"> North Position [m] </td>
            <td style="font-weight:bold;font-family:Open Sans"> East Position [m] </td>
            <td style="font-weight:bold;font-family:Open Sans"> Yaw [deg] </td>
            <td style="font-weight:bold;font-family:Open Sans"> Water Depth [m] </td>
          </tr>
          <tr v-for="(deviceid, k) in deviceId" :key="k">
            <td style="width:190px">
              <el-button icon="el-icon-delete"
                          type="danger"
                          @click.prevent="deleteElement(k, deviceId), deleteElement(k, north), deleteElement(k, east), deleteElement(k, yaw), deleteElement(k, water_depth);forceRenderer()"
                          id="delete_element" :disabled="ProjectStatus.flag_url_ec_get_farm === 'True' " />
            </td>
            <template v-if="ProjectStatus.flag_url_ec_get_farm === 'False'">
              <div class="v-cloak">
                {{ deviceId[k] = k+1 }}
              </div>
            </template>
            <td>
              <span> Device {{ deviceId[k] }} </span>
            </td>
            <td>
              <el-input-number v-model="north[k]" style="width:130px" :controls="false" id="north" @change="forceRenderer()" :disabled="ProjectStatus.flag_url_ec_get_farm === 'True'" />
            </td>
            <td>
              <el-input-number v-model="east[k]" style="width:130px" :controls="false" id="east" @change="forceRenderer()" :disabled="ProjectStatus.flag_url_ec_get_farm === 'True'" />
            </td>
            <td>
              <el-input-number v-model="yaw[k]" style="width:130px" :controls="false" id="yaw" @change="forceRenderer()" :disabled="ProjectStatus.flag_url_ec_get_farm_inputs === 'True'" />
            </td>
            <td>
              <el-input-number v-model="water_depth[k]" style="width:130px" :controls="false" id="water_depth" @change="forceRenderer()" :disabled="ProjectStatus.flag_url_sc_get_farm === 'True' && water_depth[k] != 0" />
            </td>
          </tr>
        </tbody>
      </table>
    </ul>
    <br>
    <ul>
      <div v-if="deviceId.length != 0" style="width:500px;text-align:center">
        <span style="font-weight:bold;font-size:25px"> Visualization of the farm layout</span>
        <br>
        <farm-1 :key="childKey" />
        <span style="font-weight:bold;font-size:15px">East Position [m]</span>
        <div style="transform:rotate(-90deg);position:relative;right:270px;bottom:300px"><span style="font-weight:bold;font-size:15px"> North Position [m]</span></div>
      </div>
    </ul>

    <el-button type='info'
               style="float:left;font-family:Open Sans"
               @click.prevent="changePage('SKHome')"><i class="el-icon-arrow-left" id="Previous_page"></i>Previous Page </el-button>

    <el-button type='info'
              style="float:right;font-family:Open Sans"
              @click.prevent="changePage('Device_Properties')"
              id="Next_page">Next Page <i class="el-icon-arrow-right"></i> </el-button>
    <template v-if="ProjectStatus.complexity_level === 3">
      <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px"> 1/5 </span>
    </template>
    <template v-else>
      <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px"> 1/4 </span>
    </template>
    <template v-if="GoToRunModule === true">
      <br><br><br>
      <el-button type='info'
              style="float:right;margin-left:25px"
              @click.prevent="changePage('Run_Module')"
              id="Run_module">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

    <el-dialog title="Load Excel File" :visible.sync="DialogVisible" style="text-align:center">
      <span>
        <el-upload ref="upload"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    class="upload-demo"
                    accept=".xlsx"
                    style="text-align:center"
                    drag
                    :auto-upload="true"
                    :http-request="uploaderExcel"
                    :limit="1"
                    data-cy="uploadBox"
                    :show-file-list="true">
          <i class="el-icon-upload" />
          <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
        </el-upload>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click.prevent="DialogVisible = false">Cancel</el-button>
        <el-button type="success" @click.prevent="DialogVisible = false;UpdateTable();forceRenderer()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import XLSX from 'xlsx'
import { mapState } from 'vuex'
import Farm1 from './components/Farm1.vue'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  components: {Farm1},
  data() {
    return {
      deviceId: [0],
      east: [0],
      north: [0],
      yaw: [0],
      water_depth: [0],
      DialogVisible: false,
      uploadJExcel: '',
      childKey: 0,
      EntityName: '',
      project_id: '',
      study_id: '',
      entitylist: ''
    }
  },
  beforeMount() {
    if(this.$route.query.EntityId!=null) {
      this.load_entity(this.$route.query.EntityId)
    }
    if(this.$route.params.RunMode!=null) {
      this.Project.run_mode = this.$route.params.RunMode
    }
    if(this.$route.params.Complexity!=null) {
      this.ProjectStatus.complexity_level = this.$route.params.Complexity
    }
  },
  async mounted() {
    if(this.$route.query.EntityId!=null) {
      const loading = this.$loading({
        lock: true,
        text: 'Loading...',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      this.Project.run_mode = 'dto'
      await this.get_info()

      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          this.get_data()
        }
      }, 1200);

      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          this.flag_settings()
        }
      }, 5000);

      setTimeout(() => {
        const payload0 = {
          device_properties_page: this.ProjectStatus.device_properties_page,
          master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
          substation_properties_page: this.ProjectStatus.substation_properties_page,
          uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
          devices_positionning_page: this.ProjectStatus.devices_positionning_page,
          complexity_level: this.ProjectStatus.complexity_level,
          flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
          flag_url_sc_get_device_statistics: this.ProjectStatus.flag_url_sc_get_device_statistics,
          flag_url_mc_get_single_machine_hydrodynamic: this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic,
          flag_url_mc_get_wec_cplx1: this.ProjectStatus.flag_url_mc_get_wec_cplx1,
          flag_url_mc_get_wec_cplx2: this.ProjectStatus.flag_url_mc_get_wec_cplx2,
          flag_url_mc_get_wec_cplx3: this.ProjectStatus.flag_url_mc_get_wec_cplx3,
          flag_url_mc_get_tec_cplx1: this.ProjectStatus.flag_url_mc_get_tec_cplx1,
          flag_url_mc_get_tec_cplx2: this.ProjectStatus.flag_url_mc_get_tec_cplx2,
          flag_url_mc_get_tec_cplx3: this.ProjectStatus.flag_url_mc_get_tec_cplx3,
          flag_url_mc_get_general: this.ProjectStatus.flag_url_mc_get_general,
          flag_url_mc_get_dimensions: this.ProjectStatus.flag_url_mc_get_dimensions,
          flag_url_mc_get_machine: this.ProjectStatus.flag_url_mc_get_machine,
          flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
          flag_url_ec_get_farm_inputs: this.ProjectStatus.flag_url_ec_get_farm_inputs,
          flag_url_ed_get_study_results: this.ProjectStatus.flag_url_ed_get_study_results,
          entity_id: this.$route.query.EntityId,
          entity_status: this.ProjectStatus.entity_status
        }
        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name}/saveStatus`
        axios
          .post(path, payload0)
          .then((res) => {
            this.ProjectStatus = res.data
          })
      }, 6000);

      setTimeout(() => {
        const payload = {
          sk_inputs: this.Project.sk_inputs,
          catalogue_lines: this.Project.catalogue_lines,
          catalogue_anchors: this.Project.catalogue_anchors,
          name: this.Name,
          run_mode: 'dto',
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
          url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
          url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
          url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
          url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
          url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
          url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
          url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
          url_mc_get_general: this.Project.url_mc_get_general,
          url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
          url_mc_get_machine: this.Project.url_mc_get_machine,
          url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
          url_sc_get_farm_info: this.Project.url_sc_get_farm_info,
          url_sc_get_farm_bathymetry: this.Project.url_sc_get_farm_bathymetry,
          url_sc_get_farm_seabed_type: this.Project.url_sc_get_farm_seabed_type,
          url_ed_get_study_results: this.Project.url_ed_get_study_results,
          url_cm_mooring_line: this.Project.url_cm_mooring_line.data,
          url_cm_drag_anchor: this.Project.url_cm_drag_anchor.data
        }
        const my_name = this.Name + '_' + this.$route.query.EntityId
        const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${my_name}/inputs`
        axios
          .post(path2, payload)
      }, 14000);

      setTimeout(() => {
        this.load_inputs()
      }, 17000);

      setTimeout(() => {
        loading.close();
        this.forceRenderer()
      }, 20000);
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'GoToRunModule', 'Results', 'Name']),
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    },
    ProjectStatus: {
      get () {
        return this.$store.state.ProjectStatus
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectStatusAction', newValue)
      }
    },
    Results: {
      get () {
        return this.$store.state.Results
      },
      set (newValue) {
        return this.$store.dispatch('set_ResultsAction', newValue)
      }
    },
    Name: {
      get () {
        return this.$store.state.Name
      },
      set (newValue) {
        return this.$store.dispatch('set_NameAction', newValue)
      }
    }
  },
  methods: {
    forceRenderer() {
      this.childKey +=1
    },
    addNewElement(Variable) {
      Variable.push(0)
    },
    deleteElement(index, Variable) {
      if (index > -1) {
        Variable.splice(index, 1)
      }
    },
    changePage(pagename) {
      this.ProjectStatus.devices_positionning_page = true
      this.ProjectStatus.entity_status = 10
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Farm data',
        message: '<h3> Device position </h3> <span> In integrated mode, the water depth is read from SC module outputs and the position of each machine inside the farm is read from the EC module outputs. The values correspond to UTM coordinates, in [m]. In standalone mode, the values are also in [m], relative to the farm origin, assumed to be at [0,0]. It is possible to fill the table by loading an Excel file. The format of this file is described in the documentation of the module at the following link : <a href="http://127.0.0.1:5000/static/docs/_build/html/how_to/Excel-files.html#machine-positions-file" target="_blank" style="cursor:pointer; font-size:15px; color:blue">How-to Guide</a>. In both integrated and standalone modes, the other inputs and ouputs of SK modules are given in [m] relative to the farm origin, or to the device position.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async uploaderExcel(file) {
      this.uploadJExcel = await this.onloadXlsx(file)
    },
    onloadXlsx(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsBinaryString(file.file)
        reader.onload = (e) => {
          const bstr = e.target.result
          const wb = XLSX.read(bstr, { type: 'binary' })
          const wsname = wb.SheetNames[0]
          const ws = wb.Sheets[wsname]
          const data = XLSX.utils.sheet_to_json(ws)
          resolve(data)
        }
      })
    },
    UpdateTable() {
      this.Project.sk_inputs.deviceId = []
      this.Project.sk_inputs.north = []
      this.Project.sk_inputs.east = []
      this.Project.sk_inputs.yaw = []
      this.Project.sk_inputs.water_depth = []
      for (let i=0; i<this.uploadJExcel.length; i++) {
        this.addNewElement(this.Project.sk_inputs.deviceId)
        this.addNewElement(this.Project.sk_inputs.east)
        this.Project.sk_inputs.east[i] = this.uploadJExcel[i]['East']
        this.addNewElement(this.Project.sk_inputs.north)
        this.Project.sk_inputs.north[i] = this.uploadJExcel[i]['North']
        this.addNewElement(this.Project.sk_inputs.yaw)
        this.Project.sk_inputs.yaw[i] = this.uploadJExcel[i]['Yaw']
        this.addNewElement(this.Project.sk_inputs.water_depth)
        this.Project.sk_inputs.water_depth[i] = this.uploadJExcel[i]['Water Depth']
      }
      this.$refs.upload.clearFiles()
    },
    async load_entity(eid) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${eid}/Get_Entity_Name`
      await axios.get(path)
        .then((res) => {
          this.EntityName = res.data
        })
      axios.get(`${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/none/${this.EntityName}/loadinputs`)
        .then((response) => {
          this.Project = response.data[0]
          this.ProjectStatus = response.data[1]
          this.Name = response.data[0].name
        })
      axios.post(`${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/none/${this.EntityName}/loadoutputs`)
        .then((res) => {
          this.Results = res.data
        })
    },
    async get_info() {
      const path3 = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/sk/entities/${this.$route.query.EntityId}`
      this.entitylist = await axios.get(path3)
      this.project_id = this.entitylist.data[0].projectId
      this.study_id = this.entitylist.data[0].studyId
      
      var path_to_catalog_mooring_line = `${DTOP_PROTOCOL}//cm.${DTOP_DOMAIN}/api/mooring_line`
      this.Project.url_cm_mooring_line = await axios.get(path_to_catalog_mooring_line)

      var path_to_catalog_drag_anchor = `${DTOP_PROTOCOL}//cm.${DTOP_DOMAIN}/api/drag_anchor`
      this.Project.url_cm_drag_anchor = await axios.get(path_to_catalog_drag_anchor)
    },
    get_data() {
      for (let i=0; i<this.entitylist.data.length; i++) {
        if (this.entitylist.data[i].moduleId == 1) {
          const path_sc = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/sc/entities`
          axios
          .get(path_sc)
          .then((res1) => {
            var path_to_call = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/point/statistics'
            axios
            .get(path_to_call)
            .then((resultats1) => {
              this.Project.url_sc_get_device_statistics = resultats1
            })
            var path_to_call2 = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/farm/info'
            axios
            .get(path_to_call2)
            .then((resultats2) => {
              this.Project.url_sc_get_farm_info = resultats2
            })
            var path_to_call3 = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/farm/direct_values/bathymetry'
            axios
            .get(path_to_call3)
            .then((resultats3) => {
              this.Project.url_sc_get_farm_bathymetry = resultats3
            })
            var path_to_call4 = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/farm/direct_values/seabed_type'
            axios
            .get(path_to_call4)
            .then((resultats4) => {
              this.Project.url_sc_get_farm_seabed_type = resultats4
            })
          })
        }
        else if (this.entitylist.data[i].moduleId == 2) {
          const path_mc = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/mc/entities`
          axios
          .get(path_mc)
          .then((res2) => {
            var path_to_call3 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/single_machine_hydrodynamic'
            axios
            .get(path_to_call3)
            .then((resultats3) => {
              this.Project.url_mc_get_single_machine_hydrodynamic = resultats3.data
            })
            var path_to_call4 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity1'
            axios
            .get(path_to_call4)
            .then((resultats4) => {
              this.Project.url_mc_get_wec_cplx1 = resultats4.data
            })
            var path_to_call5 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity2'
            axios
            .get(path_to_call5)
            .then((resultats5) => {
              this.Project.url_mc_get_wec_cplx2 = resultats5.data
            })
            var path_to_call6 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity3'
            axios
            .get(path_to_call6)
            .then((resultats6) => {
              this.Project.url_mc_get_wec_cplx3 = resultats6.data
            })
            var path_to_call7 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity1'
            axios
            .get(path_to_call7)
            .then((resultats7) => {
              this.Project.url_mc_get_tec_cplx1 = resultats7.data
            })
            var path_to_call8 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity2'
            axios
            .get(path_to_call8)
            .then((resultats8) => {
              this.Project.url_mc_get_tec_cplx2 = resultats8.data
            })
            var path_to_call9 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity3'
            axios
            .get(path_to_call9)
            .then((resultats9) => {
              this.Project.url_mc_get_tec_cplx3 = resultats9.data
            })
            var path_to_call10 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/general'
            axios
            .get(path_to_call10)
            .then((resultats10) => {
              this.Project.url_mc_get_general = resultats10.data
            })
            var path_to_call11 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/dimensions'
            axios
            .get(path_to_call11)
            .then((resultats11) => {
              this.Project.url_mc_get_dimensions = resultats11.data
            })
            var path_to_call12 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId
            axios
            .get(path_to_call12)
            .then((resultats12) => {
              this.Project.url_mc_get_machine = resultats12.data
            })
          })
        }
        else if (this.entitylist.data[i].moduleId == 3) {
          const path_ec = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ec/entities`
          axios
          .get(path_ec)
          .then((res3) => {
            var path_to_call13 = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/` + res3.data[0].entityId + '/farm'
            axios
            .get(path_to_call13)
            .then((resultats13) => {
              this.Project.url_ec_get_farm = resultats13.data
            })
            var path_to_call14 = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/` + res3.data[0].entityId + '/inputs/farm'
            axios
            .get(path_to_call14)
            .then((resultats14) => {
              this.Project.url_ec_get_farm_inputs = resultats14.data
            })
          })
        } else if (this.entitylist.data[i].moduleId == 5) {
          const path_ed = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ed/entities`
          axios
          .get(path_ed)
          .then((res4) => {
            var path_to_call15 = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/api/energy-deliv-studies/` + res4.data[0].entityId + '/results'
            axios
            .get(path_to_call15)
            .then((resultats15) => {
              this.Project.url_ed_get_study_results = resultats15.data
            })
          })
        }
      }
    },
    load_inputs() {
      const name = this.Name
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.$route.query.EntityId}/${name}/loadinputs`
      axios.get(path)
      .then((res) => {
        this.Project = res.data[0]
        this.ProjectStatus = res.data[1]
      })
    },
    flag_settings() {
      if (typeof this.Project.url_ec_get_farm.url === 'undefined'){
        this.ProjectStatus.flag_url_ec_get_farm = 'True'
      }
      if (typeof this.Project.url_ec_get_farm_inputs.url === 'undefined'){
        this.ProjectStatus.flag_url_ec_get_farm_inputs = 'True'
      }
      if (typeof this.Project.url_mc_get_single_machine_hydrodynamic.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx1.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx1 = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx2.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx2 = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx3.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx3 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx1.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx1 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx2.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx2 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx3.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx3 = 'True'
      }
      if (typeof this.Project.url_mc_get_general.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_general = 'True'
      }
      if (typeof this.Project.url_mc_get_dimensions.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_dimensions = 'True'
      }
      if (typeof this.Project.url_mc_get_machine.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_machine = 'True'
      }
      if (typeof this.Project.url_sc_get_device_statistics.url === 'undefined'){
        this.ProjectStatus.flag_url_sc_get_device_statistics = 'True'
      }
      if ((typeof this.Project.url_sc_get_farm_info.url === 'undefined')&&(typeof this.Project.url_sc_get_farm_bathymetry.url === 'undefined')){
        this.ProjectStatus.flag_url_sc_get_farm = 'True'
      }
      if (typeof this.Project.url_ed_get_study_results.url === 'undefined'){
        this.ProjectStatus.flag_url_ed_get_study_results = 'True'
      }
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    font-family:Rajdhani
}

table {
  border-collapse: collapse;
  border: 1px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1px solid #a9a3a3;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

body { min-width: 1300px; }

span {
  font-family: "Open Sans";
}

</style>
