<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Inputs Summary </h1>
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>

    <ul>
      <table>
        <tr>
          <td style="width:400px">
            <span class="large_span"> Device Positioning </span>
          </td>
          <td style="width:400px">
          <template v-if="ProjectStatus.devices_positionning_page === true||ProjectStatus.devices_positionning_page === 'True'">
            <span class="span_true"> Complete </span>
          </template>
          <template v-else>
            <span class="span_false"> UnComplete </span>
          </template>
          </td>
          <td style="width:200px;height:80px">
            <el-button @click.prevent="GoToRunModule = true; changePage('Devices_Positioning')" style="width:150px"> 
              <el-row>
                <img src="@/assets/logos/Device_positioning_logo.png" width="35" height="30" align="left" style="margin-right:10px">
                Device <br> Positioning
              </el-row>
            </el-button>
          </td>
        </tr>
        <tr>
          <td style="width:400px">
            <span class="large_span"> Device Properties </span>
          </td>
          <td style="width:400px">
            <template v-if="ProjectStatus.device_properties_page === true||ProjectStatus.device_properties_page === 'True'">
              <span class="span_true"> Complete </span>
            </template>
            <template v-else>
              <span class="span_false"> UnComplete </span>
            </template>
          </td>
          <td style="width:200px;height:80px">
            <el-button @click.prevent="GoToRunModule = true; changePage('Device_Properties')" style="width:150px"> 
              <el-row>
                <img src="@/assets/logos/Device_properties_logo.png" width="35" height="30" align="left" style="margin-right:10px">
                Device <br> Properties
              </el-row>
            </el-button>
          </td>
        </tr>
        <template v-if="ProjectStatus.complexity_level == 3">
          <tr>
            <td style="width:400px">
              <span class="large_span"> Masterstructure Properties </span>
            </td>
            <td style="width:400px">
              <template v-if="ProjectStatus.master_structure_properties_page === true||ProjectStatus.master_structure_properties_page === 'True'">
                <span class="span_true"> Complete </span>
              </template>
              <template v-else>
                <span class="span_false"> UnComplete </span>
              </template>
            </td>
            <td style="width:200px;height:80px">
              <el-button @click.prevent="GoToRunModule = true; changePage('Master_Structure_Properties')" style="width:150px"> 
                <el-row>
                  <img src="@/assets/logos/Masterstructure_logo.png" width="35" height="30" align="left" style="margin-right:10px;margin-top:5px">
                  Master <br> Structure <br> Properties
                </el-row>
              </el-button>
            </td>
          </tr>
        </template>
        <tr>
          <td style="width:400px">
            <span class="large_span"> Substation Properties </span>
          </td>
          <td style="width:400px">
            <template v-if="ProjectStatus.substation_properties_page === true||ProjectStatus.substation_properties_page === 'True'">
              <span class="span_true"> Complete </span>
            </template>
            <template v-else>
              <span class="span_false"> UnComplete </span>
            </template>
          </td>
          <td style="width:200px;height:80px">
            <el-button @click.prevent="GoToRunModule = true; changePage('Substation_Properties')" style="width:150px"> 
              <el-row>
                <img src="@/assets/logos/Substation_logo.png" width="35" height="30" align="left" style="margin-right:10px">
                Substation <br> Properties
              </el-row>
            </el-button>
          </td>
        </tr>
        <tr>
          <td style="width:400px">
            <span class="large_span"> ULS FLS Analysis Parameters </span>
          </td>
          <td style="width:400px">
            <template v-if="ProjectStatus.uls_fls_analysis_parameters_page === true||ProjectStatus.uls_fls_analysis_parameters_page === 'True'">
              <span class="span_true"> Complete </span>
            </template>
            <template v-else>
              <span class="span_false"> UnComplete </span>
            </template>
          </td>
          <td style="width:200px;height:80px">
            <el-button @click.prevent="GoToRunModule = true; changePage('ULS_FLS_Analysis_Parameters')" style="width:150px"> 
              <el-row>
                <img src="@/assets/logos/ULS_FLS.png" width="35" height="30" align="left" style="margin-right:10px">
                Analysis <br> Parameters
              </el-row>
            </el-button>
          </td>
        </tr>
      </table>
    </ul>

    <el-row>
      <el-col :lg="5">
        <template v-if="project_running == false">
          <el-button
            type="primary"
            @click.prevent="SaveAs(); project_running = true; onRunModule()"
            style="font-size:20px;font-family:Open Sans"> Run Module
          </el-button>
        </template>
        <template v-else>            
          <el-button
            type="primary"
            :loading="true"
            style="font-size:20px;font-family:Open Sans"> Run Module
          </el-button>
        </template>
      </el-col>
      <el-col :lg="12" style="position:relative;top:10px">
        <template v-if="project_running == true">
          <span style="font-weight:bold;font-size:20px"> Calculation in progress... </span>
        </template>
      </el-col>
    </el-row>

    <el-dialog :visible.sync="Dialog1" style="text-align:center" title="Save your inputs before running">
      <h3 style="font-style: italic">
        Name of the Project :
      </h3>
      <el-input v-model="Project.name" type="text" style="width:300px" />
      <span slot="footer" class="dialog-footer">
        <template v-if="Project.name === ''">
          <el-button type="success" disabled>Save</el-button>
        </template>
        <template v-else>
          <el-button type="success" @click.prevent="NewLogFile=''; SaveAs(); Dialog1 = false; is_saved = true; project_running = true; onRunModule()">Save</el-button>
        </template>
        <el-button type="danger" @click.prevent="Dialog1 = false">Cancel</el-button>
      </span>
    </el-dialog>

    <br>
    <template v-if="RunStatus === true">
      <el-button type="primary" @click.prevent="RedirectToOutput()">See Results</el-button>
    </template>
    <template v-else-if="RunStatus === false">
      <span style="font-weight:bold"> The calculation has failed please check your inputs </span>
    </template>
    <br><br>
    <span style="font-weight:bold"> Log File </span>
    <div class="container">
      <ul>
        <div v-for="item in NewLogFile" :key="item">
          {{ item }}
        </div>
      </ul>
    </div>
    <div class="v-cloak">
      <template v-if="project_running == true">
        {{ ReadLog(5000) }}
      </template>
    </div>
      
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      Log: '',
      Dialog1: false,
      LogFile: '',
      NewLogFile: '',
      intervalid1: ''
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'RunStatus', 'Results', 'project_running', 'is_saved', 'Name']),
    RunStatus: {
      get () {
        return this.$store.state.RunStatus
      },
      set (newValue) {
        return this.$store.dispatch('set_RunStatusAction', newValue)
      }
    },
    project_running: {
      get () {
        return this.$store.state.project_running
      },
      set (newValue) {
        return this.$store.dispatch('set_project_runningAction', newValue)
      }
    },
    is_saved: {
      get () {
        return this.$store.state.is_saved
      },
      set (newValue) {
        return this.$store.dispatch('set_is_savedAction', newValue)
      }
    },
    Results: {
      get () {
        return this.$store.state.Results
      },
      set (newValue) {
        return this.$store.dispatch('set_ResultsAction', newValue)
      }
    },
    Name: {
      get () {
        return this.$store.state.Name
      },
      set (newValue) {
        return this.$store.dispatch('set_NameAction', newValue)
      }
    }
  },
  beforeMount() {
    if (this.RunStatus === true || this.project_running == true) {
      this.ReadLog(10)
    }
  },
  methods: {
    loadOutputs(name) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${name}/loadoutputs`
      return axios
        .post(path)
        .then((res) => {
          this.Results = res.data
        })
    },
    async RunProject(payload) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name + '_' + this.ProjectStatus.entity_id}/run`
      await axios
        .post(path, payload)
        .then((res) => {
          this.Log = res.data
          setTimeout(function () {
            if (this.Log.analysis_status === 'success') {
              this.RunStatus = true
              this.project_running = false
              this.is_saved = false
              const payload0 = {
                device_properties_page: this.ProjectStatus.device_properties_page,
                master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
                substation_properties_page: this.ProjectStatus.substation_properties_page,
                uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
                devices_positionning_page: this.ProjectStatus.devices_positionning_page,
                complexity_level: this.ProjectStatus.complexity_level,
                flag_sc: this.ProjectStatus.flag_sc,
                flag_mc: this.ProjectStatus.flag_mc,
                flag_ec: this.ProjectStatus.flag_ec,
                flag_ed: this.ProjectStatus.flag_ed,
                entity_id: this.ProjectStatus.entity_id,
                entity_status: 100
              }
              this.saveStatus(payload0)
            } else {
              this.RunStatus = false
              this.project_running = false
              this.is_saved = false
            }
            this.ReadLog(10)
          }.bind(this), 2000)
          this.loadOutputs(this.Name)
        })
    },
    DeleteLog() {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${this.Project.name}/DeleteLog`
      axios.post(path)
      this.Results = 'running'
    },
    onRunModule() {
      this.RunStatus = ''
      this.NewLogFile = ''
      this.Log = ''
      const payload = {
        sk_inputs: this.Project.sk_inputs,
        catalogue_lines: this.Project.catalogue_lines,
        catalogue_anchors: this.Project.catalogue_anchors
      }
      this.DeleteLog()
      this.RunProject(payload)
    },
    RedirectToOutput() {
      this.$router.push({ name: 'BOM' })
    },
    SaveAs() {

      this.Project.sk_inputs.path_to_figure_folder = './storage/' + this.Name + '_' + this.ProjectStatus.entity_id + '/figures/'
      this.Project.sk_inputs.device_properties.mooring_design_criteria.mooring_output_folder_path = './storage/' + this.Name + '_' + this.ProjectStatus.entity_id + '/Mooring_system'
      const payload0 = {
        device_properties_page: this.ProjectStatus.device_properties_page,
        master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
        substation_properties_page: this.ProjectStatus.substation_properties_page,
        uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
        devices_positionning_page: this.ProjectStatus.devices_positionning_page,
        complexity_level: this.ProjectStatus.complexity_level,
        flag_sc: this.ProjectStatus.flag_sc,
        flag_mc: this.ProjectStatus.flag_mc,
        flag_ec: this.ProjectStatus.flag_ec,
        flag_ed: this.ProjectStatus.flag_ed,
        entity_id: this.ProjectStatus.entity_id,
        entity_status: this.ProjectStatus.entity_status
      }
      this.saveStatus(payload0)
      const payload = {
        sk_inputs: this.Project.sk_inputs,
        catalogue_lines: this.Project.catalogue_lines,
        catalogue_anchors: this.Project.catalogue_anchors,
        name: this.Name,
        run_mode: 'standalone',
        url_ec_get_farm: this.Project.url_ec_get_farm,
        url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
        url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
        url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
        url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
        url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
        url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
        url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
        url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
        url_mc_get_general: this.Project.url_mc_get_general,
        url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
        url_mc_get_machine: this.Project.url_mc_get_machine,
        url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
        url_sc_get_farm: this.Project.url_sc_get_farm,
        url_ed_get_input_config: this.Project.url_ed_get_input_config,
        url_ed_get_study_results: this.Project.url_ed_get_study_results
      }
      setTimeout(function () {
        this.saveProject(payload, this.Name)
      }.bind(this), 1000)
      const payload1 = { name: this.Project.name }
      this.copyNemoh(payload1)
    },
    copyNemoh(payload) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/CopyNemohFolfer`
      axios({
        method: 'post',
        url: path,
        params: payload
      })
    },
    saveProject(payload, name) {
      this.Project.name = this.Name
      const my_name = name + '_' + this.ProjectStatus.entity_id
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${my_name}/inputs`
      axios
        .post(path, payload)
    },
    saveStatus(payload) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name}/saveStatus`
      axios
        .post(path, payload)
    },
    ReadLog(timetowait) {
      setTimeout(function () {
        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${this.Name}/ReadLog`
        axios
          .get(path)
          .then((res) => {
            this.LogFile = res.data
            return this.LogFile
          })
          .then((LogFile) => {
            var today = new Date()
            var date = today.getFullYear()+'-'
            this.NewLogFile = this.LogFile.replaceAll(date,"\n"+date)
            this.NewLogFile = this.NewLogFile.split("\n")
            for (let i=0; i<this.NewLogFile.length; i++) {
              if (this.NewLogFile[i].includes(' :: INFO :: ')) {
                const temp = this.NewLogFile[i].split(" :: INFO :: ")
                this.NewLogFile[i] = temp[1]
              }
              if (this.NewLogFile[i].includes(' :: DEBUG :: ')) {
                const temp = this.NewLogFile[i].split(" :: DEBUG :: ")
                this.NewLogFile[i] = temp[1]
              }
              if (this.NewLogFile[i].includes('POST /sk/')||this.NewLogFile[i].includes('GET /sk/')||this.NewLogFile[i].includes('OPTIONS /sk/')) {
                this.NewLogFile[i] = ""
              }
            }
          })
      }.bind(this), timetowait)
    },
    changePage(pagename) {
      this.$router.push({
        name: pagename
      })
    }
  }
}
</script>

<style lang="scss">

  .span_false {
    font-size: 25px;
    color: #ff0000;
    font-family: "Open Sans"
  }

  .span_true {
    font-size: 25px;
    color: #00ff21;
    font-family: "Open Sans"
  }

  .large_span {
    font-size: 25px;
    font-family: "Open Sans"
  }

.container {
  height: 300px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid #444444;
  border-collapse: collapse;
}

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}
</style>
