<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="navbar">
    <table style="width:150px;border:none;background-color:white;float:left">
      <tr>
        <td style="border:none;background-color:white">
          <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
        </td>
        <td style="border:none;background-color:white;text-align:left">
          <span style="font-weight:bold" @click.prevent="dialogFormVisible3 = true"> SK (v1.5.5) </span>
        </td>
      </tr>
    </table>
    <template v-if="this.$route.path === '/skinputs/devices_positioning' || this.$route.path === '/skinputs/device_properties' || this.$route.path === '/skinputs/master_structure_properties' || this.$route.path === '/skinputs/substation_properties' || this.$route.path === '/skinputs/uls_fls_analysis_parameters' || this.$route.path === '/run_module'">
      <tr style="float:right;margin-right:3%;top:10px">
        <td style="background-color:white;border:none">
          <el-button
            type="primary"
            style="padding: 7px 14px"
            @click.prevent="Save()"
            id="Save_button"
          >Save </el-button>
        </td>
        <td style="background-color:white;border:none">
          <input type="file" ref="import_file" accept=".dtosk" style="display:none" @change="handleImport()" />
          <el-button type="primary" @click="$refs.import_file.click()" style="padding: 7px 14px">Import Inputs</el-button>
        </td>
        <td style="background-color:white;border:none">
          <el-button type="primary" style="padding: 7px 14px" @click.prevent="generateExport(Name + '_' + ProjectStatus.entity_id)">
            Export inputs
          </el-button>
        </td>
      </tr>
    </template>
    <template v-if="this.$route.path === '/skoutputs/bom' || this.$route.path === '/skoutputs/environmental_impact' || this.$route.path === '/skoutputs/design_assessment' || this.$route.path === '/skoutputs/uls_fls'">
      <el-row style="float:right;margin-right:3%;top:10px">
        <el-col :lg="12">
          <router-link target="_blank" :to="{ name: 'PDF', query: {ProjectName: Name, Entity_id: ProjectStatus.entity_id}}">
            <el-button type="primary" style="padding: 8px 14px">
              Export results to PDF
            </el-button>
          </router-link>
        </el-col>
      </el-row>
    </template>

    <el-dialog :visible.sync="dialogFormVisible2" style="text-align:center" width="80%">
      <h2>The selected exported entity does not have the same complexity level as the one currently open and cannot be imported.</h2>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click.prevent="dialogFormVisible2 = false">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible3" style="text-align:center" width="80%">
      <h2>You are about to remove all restrictions on the inputs fields of Station Keeping module. If you do that, you will loose the consistency with the previous modules of the DTOCEAN+ suite of tools. Are you sure you want to do that?</h2>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click.prevent="dialogFormVisible3 = false; CheatButton()">Confirm</el-button>
        <el-button type="danger" @click.prevent="dialogFormVisible3 = false">Cancel</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapState } from 'vuex'
import JSZip, { files } from 'jszip'
import { saveAs } from 'file-saver'
import Hamburger from '@/components/Hamburger'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"

export default {
  components: {
    Hamburger
  },
  data() {
    return {
      dialogFormVisible: false,
      dialogFormVisible2: false,
      dialogFormVisible3: false,
      testcheck: ''
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ]),
    ...mapState(['Project', 'ProjectStatus', 'Name', 'device_selected']),
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    },
    ProjectStatus: {
      get () {
        return this.$store.state.ProjectStatus
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectStatusAction', newValue)
      }
    }
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    Save() {
      if (this.device_selected != 'Import') {
        const payload = {
          path: this.Project.sk_inputs.device_properties.path_to_nemoh_result_folder,
          name: this.Name + '_' + this.ProjectStatus.entity_id
        }
        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/CopyNemohDatabase`
        axios({
          method: 'post',
          url: path,
          params: payload
        })
      }
      this.Project.sk_inputs.path_to_figure_folder = './storage/' + this.Project.name + '/figures'
      this.Project.sk_inputs.device_properties.mooring_design_criteria.mooring_output_folder_path = './storage/' + this.Project.name + '/Mooring_system'
      const payload0 = {
          device_properties_page: this.ProjectStatus.device_properties_page,
          master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
          substation_properties_page: this.ProjectStatus.substation_properties_page,
          uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
          devices_positionning_page: this.ProjectStatus.devices_positionning_page,
          complexity_level: this.ProjectStatus.complexity_level,
          flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
          flag_url_sc_get_device_statistics: this.ProjectStatus.flag_url_sc_get_device_statistics,
          flag_url_mc_get_single_machine_hydrodynamic: this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic,
          flag_url_mc_get_wec_cplx1: this.ProjectStatus.flag_url_mc_get_wec_cplx1,
          flag_url_mc_get_wec_cplx2: this.ProjectStatus.flag_url_mc_get_wec_cplx2,
          flag_url_mc_get_wec_cplx3: this.ProjectStatus.flag_url_mc_get_wec_cplx3,
          flag_url_mc_get_tec_cplx1: this.ProjectStatus.flag_url_mc_get_tec_cplx1,
          flag_url_mc_get_tec_cplx2: this.ProjectStatus.flag_url_mc_get_tec_cplx2,
          flag_url_mc_get_tec_cplx3: this.ProjectStatus.flag_url_mc_get_tec_cplx3,
          flag_url_mc_get_general: this.ProjectStatus.flag_url_mc_get_general,
          flag_url_mc_get_dimensions: this.ProjectStatus.flag_url_mc_get_dimensions,
          flag_url_mc_get_machine: this.ProjectStatus.flag_url_mc_get_machine,
          flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
          flag_url_ec_get_farm_inputs: this.ProjectStatus.flag_url_ec_get_farm_inputs,
          flag_url_ed_get_study_results: this.ProjectStatus.flag_url_ed_get_study_results,
          entity_id: this.ProjectStatus.entity_id,
          entity_status: this.ProjectStatus.entity_status
      }
      this.saveStatus(payload0, this.Project.name)
      const payload1 = { name: this.Project.name + '_' + this.ProjectStatus.entity_id }
      this.copyNemoh(payload1)
    },
    copyNemoh(payload) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/CopyNemohFolfer`
      axios({
        method: 'post',
        url: path,
        params: payload
      })
    },
    saveProject(payload, name) {
      const my_name = name + '_' + this.ProjectStatus.entity_id
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${my_name}/inputs`
      axios
        .post(path, payload)
    },
    saveStatus(payload, name) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name}/saveStatus`
      axios
        .post(path, payload)
        .then((res)=> {
          const payload = {
            sk_inputs: this.Project.sk_inputs,
            catalogue_lines: this.Project.catalogue_lines,
            catalogue_anchors: this.Project.catalogue_anchors,
            name: this.Name,
            run_mode: this.rmode,
            url_ec_get_farm: this.Project.url_ec_get_farm,
            url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
            url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
            url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
            url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
            url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
            url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
            url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
            url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
            url_mc_get_general: this.Project.url_mc_get_general,
            url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
            url_mc_get_machine: this.Project.url_mc_get_machine,
            url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
            url_sc_get_farm_info: this.Project.url_sc_get_farm_info,
            url_sc_get_farm_bathymetry: this.Project.url_sc_get_farm_bathymetry,
            url_sc_get_farm_seabed_type: this.Project.url_sc_get_farm_seabed_type,
            url_ed_get_input_config: this.Project.url_ed_get_input_config,
            url_ed_get_study_results: this.Project.url_ed_get_study_results
          }
          this.saveProject(payload, this.Name)
        })
    },
    handleImport() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      setTimeout(() => {
        loading.close();
        const name = this.Project.name + '_' + this.ProjectStatus.entity_id
        axios.get(`${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/none/${name}/loadinputs`)
        .then((response) => {
          this.Project = response.data[0]
          this.ProjectStatus = response.data[1]
        })
        this.import_OM_data()
      }, 4000);

      const file_dtosk = event.target.files[0]
      this.ComplexityLevelCheck(file_dtosk)
      setTimeout(() => {

        if (this.testcheck == true) {

          var ProjectName = file_dtosk.name.replace(".dtosk", "");
          var zip = new JSZip();
          
          const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/ImportProject`
          const entityname = this.Name
          const entityid = this.ProjectStatus.entity_id

          JSZip.loadAsync(file_dtosk)
          .then(function (zip) {
            return zip.file("list_of_files.txt").async("text")
          })
          .then(function (txt) {
            var filenames = txt.split(',')
            for (let i=0;i<filenames.length;i++) {
              JSZip.loadAsync(file_dtosk).then(function (zip) {

                if (zip.file(filenames[i]) != null) {
                  return zip.file(filenames[i]).async("text")
                } else {
                  return false
                }
              }).then(function (txt) {
                if (txt !=false) {
                  const payload = { 
                    files: txt,
                    name: filenames[i],
                    entity_name: entityname,
                    entity_id: entityid
                  }
                  axios.post(path2, payload)
                }
              });
            }
          });
          
        } else {
          this.dialogFormVisible2 = true
        }
      }, 2000);
    },
    async generateExport(name) {

      this.Save();

      setTimeout(() => {
        var zip = new JSZip();

        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${name}/List2Zip`
        return axios.get(path)
          .then((res) => {
            var status = res.data[0]
            var input = res.data[1]
            var figures_names = res.data[3]
            var figures = res.data[4]
            var mooring_system_names = res.data[5]
            var mooring_system = res.data[6]
            var nemoh_names = res.data[7]
            var nemoh = res.data[8]
            var nemoh_results_names = res.data[9]
            var nemoh_results = res.data[10]
            var nemoh_mesh_names = res.data[11]
            var nemoh_mesh = res.data[12]
            
            var zip = new JSZip();

            const filenames = []

            if (status != false) {
              zip.file("status.json", status);
              filenames.push('status.json')
            }
            if (input != false) {
              zip.file("inputs.json", input);
              filenames.push('inputs.json')
            }

            var FF = zip.folder("figures");
            if (figures_names != false) {
              for (let i=0; i<figures_names.length;i++) {
                FF.file(figures_names[i],figures[i]);
                filenames.push('figures/'+figures_names[i])
              }
            }

            var MSF = zip.folder("Mooring_system");
            if (mooring_system_names != false) {
              for (let i=0; i<mooring_system_names.length;i++) {
                MSF.file(mooring_system_names[i],mooring_system[i]);
                filenames.push('Mooring_system/'+mooring_system_names[i])
              }
            }

            var NF = zip.folder("Nemoh");
            if (nemoh_names != false) {
              for (let i=0; i<nemoh_names.length;i++) {
                NF.file(nemoh_names[i],nemoh[i]);
                filenames.push('Nemoh/'+nemoh_names[i])
              }
            }

            var NFR = NF.folder("results");
            if (nemoh_results_names != false) {
              for (let i=0; i<nemoh_results_names.length;i++) {
                NFR.file(nemoh_results_names[i],nemoh_results[i]);
                filenames.push('Nemoh/results/'+nemoh_results_names[i])
              }
            }

            var NFM = NF.folder("mesh");
            if (nemoh_mesh_names != false) {
              for (let i=0; i<nemoh_mesh_names.length;i++) {
                NFM.file(nemoh_mesh_names[i],nemoh_mesh[i]);
                filenames.push('Nemoh/mesh/'+nemoh_mesh_names[i])
              }
            }

            zip.file('list_of_files.txt',String(filenames))

            zip.generateAsync({type:"blob"})
            .then(function(content) {
                // see FileSaver.js
                saveAs(content, name+'.dtosk');
            });
          })
      }, 1500)
    },
    ComplexityLevelCheck(my_files) {

      var check = ''

      var zip = new JSZip();
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.complexity_level}/CheckComplexityLevel`

      JSZip.loadAsync(my_files)
      .then(function (zip) {
        return zip.file("list_of_files.txt").async("text")
      })
      .then(function (txt) {
        var filenames = txt.split(',')
        for (let i=0;i<filenames.length;i++) {
          JSZip.loadAsync(my_files).then(function (zip) {
            if (filenames[i] == 'status.json') {
              return zip.file(filenames[i]).async("text")
            } else {
              return false
            }
          }).then(function (txt) {
            if (txt !=false) {
              const payload = { 
                files: txt
              }
              axios.post(path, payload)
              .then((answer) => {
                check = answer.data
              })
            }
          })
        }
      })
      setTimeout(() => {
        this.testcheck = check
      }, 1000)
    },
    async import_OM_data(){
      const loading = this.$loading({
        lock: true,
        text: 'Loading...',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      this.Project.run_mode = 'dto'
      await this.get_info()
      
      setTimeout(() => {
        if(this.entitylist.data.length != 1) {
          this.get_data()
        }
      }, 1200);
      
      setTimeout(() => {
        if(this.entitylist.data.length != 1) {
          this.flag_settings()
        }
      }, 5000);
      
      setTimeout(() => {
        const payload0 = {
          device_properties_page: this.ProjectStatus.device_properties_page,
          master_structure_properties_page: this.ProjectStatus.master_structure_properties_page,
          substation_properties_page: this.ProjectStatus.substation_properties_page,
          uls_fls_analysis_parameters_page: this.ProjectStatus.uls_fls_analysis_parameters_page,
          devices_positionning_page: this.ProjectStatus.devices_positionning_page,
          complexity_level: this.ProjectStatus.complexity_level,
          flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
          flag_url_sc_get_device_statistics: this.ProjectStatus.flag_url_sc_get_device_statistics,
          flag_url_mc_get_single_machine_hydrodynamic: this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic,
          flag_url_mc_get_wec_cplx1: this.ProjectStatus.flag_url_mc_get_wec_cplx1,
          flag_url_mc_get_wec_cplx2: this.ProjectStatus.flag_url_mc_get_wec_cplx2,
          flag_url_mc_get_wec_cplx3: this.ProjectStatus.flag_url_mc_get_wec_cplx3,
          flag_url_mc_get_tec_cplx1: this.ProjectStatus.flag_url_mc_get_tec_cplx1,
          flag_url_mc_get_tec_cplx2: this.ProjectStatus.flag_url_mc_get_tec_cplx2,
          flag_url_mc_get_tec_cplx3: this.ProjectStatus.flag_url_mc_get_tec_cplx3,
          flag_url_mc_get_general: this.ProjectStatus.flag_url_mc_get_general,
          flag_url_mc_get_dimensions: this.ProjectStatus.flag_url_mc_get_dimensions,
          flag_url_mc_get_machine: this.ProjectStatus.flag_url_mc_get_machine,
          flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
          flag_url_ec_get_farm_inputs: this.ProjectStatus.flag_url_ec_get_farm_inputs,
          flag_url_ed_get_study_results: this.ProjectStatus.flag_url_ed_get_study_results,
          entity_id: this.ProjectStatus.entity_id,
          entity_status: this.ProjectStatus.entity_status
        }
        const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.Name}/saveStatus`
        axios
          .post(path, payload0)
          .then((res) => {
            this.ProjectStatus = res.data
          })
      }, 6000);

      setTimeout(() => {
        const payload = {
          sk_inputs: this.Project.sk_inputs,
          catalogue_lines: this.Project.catalogue_lines,
          catalogue_anchors: this.Project.catalogue_anchors,
          name: this.Name,
          run_mode: 'dto',
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_farm_inputs: this.Project.url_ec_get_farm_inputs,
          url_mc_get_single_machine_hydrodynamic: this.Project.url_mc_get_single_machine_hydrodynamic,
          url_mc_get_wec_cplx1: this.Project.url_mc_get_wec_cplx1,
          url_mc_get_wec_cplx2: this.Project.url_mc_get_wec_cplx2,
          url_mc_get_wec_cplx3: this.Project.url_mc_get_wec_cplx3,
          url_mc_get_tec_cplx1: this.Project.url_mc_get_tec_cplx1,
          url_mc_get_tec_cplx2: this.Project.url_mc_get_tec_cplx2,
          url_mc_get_tec_cplx3: this.Project.url_mc_get_tec_cplx3,
          url_mc_get_general: this.Project.url_mc_get_general,
          url_mc_get_dimensions: this.Project.url_mc_get_dimensions,
          url_mc_get_machine: this.Project.url_mc_get_machine,
          url_sc_get_device_statistics: this.Project.url_sc_get_device_statistics,
          url_sc_get_farm_info: this.Project.url_sc_get_farm_info,
          url_sc_get_farm_bathymetry: this.Project.url_sc_get_farm_bathymetry,
          url_sc_get_farm_seabed_type: this.Project.url_sc_get_farm_seabed_type,
          url_ed_get_study_results: this.Project.url_ed_get_study_results,
          url_cm_mooring_line: this.Project.url_cm_mooring_line.data,
          url_cm_drag_anchor: this.Project.url_cm_drag_anchor.data
        }
        const my_name = this.Name + '_' + this.ProjectStatus.entity_id
        const path2 = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${my_name}/inputs`
        axios
          .post(path2, payload)
      }, 7000);

      setTimeout(() => {
        this.load_inputs()
      }, 12000);

      setTimeout(() => {
        loading.close();
      }, 15000);
    },
    async get_info() {
      const path3 = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/sk/entities/${this.ProjectStatus.entity_id}`
      this.entitylist = await axios.get(path3)
      this.project_id = this.entitylist.data[0].projectId
      this.study_id = this.entitylist.data[0].studyId
      
      var path_to_catalog_mooring_line = `${DTOP_PROTOCOL}//cm.${DTOP_DOMAIN}/api/mooring_line`
      this.Project.url_cm_mooring_line = await axios.get(path_to_catalog_mooring_line)

      var path_to_catalog_drag_anchor = `${DTOP_PROTOCOL}//cm.${DTOP_DOMAIN}/api/drag_anchor`
      this.Project.url_cm_drag_anchor = await axios.get(path_to_catalog_drag_anchor)
    },
    get_data() {
      for (let i=0; i<this.entitylist.data.length; i++) {
        if (this.entitylist.data[i].moduleId == 1) {
          const path_sc = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/sc/entities`
          axios
          .get(path_sc)
          .then((res1) => {
            var path_to_call = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/point/statistics'
            axios
            .get(path_to_call)
            .then((resultats1) => {
              this.Project.url_sc_get_device_statistics = resultats1
            })
            var path_to_call2 = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/farm/info'
            axios
            .get(path_to_call2)
            .then((resultats2) => {
              this.Project.url_sc_get_farm_info = resultats2
            })
            var path_to_call3 = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/` + res1.data[0].entityId + '/farm/direct_values/bathymetry'
            axios
            .get(path_to_call3)
            .then((resultats3) => {
              this.Project.url_sc_get_farm_bathymetry = resultats3
            })
          })
        }
        else if (this.entitylist.data[i].moduleId == 2) {
          const path_mc = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/mc/entities`
          axios
          .get(path_mc)
          .then((res2) => {
            var path_to_call3 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/single_machine_hydrodynamic'
            axios
            .get(path_to_call3)
            .then((resultats3) => {
              this.Project.url_mc_get_single_machine_hydrodynamic = resultats3.data
            })
            var path_to_call4 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity1'
            axios
            .get(path_to_call4)
            .then((resultats4) => {
              this.Project.url_mc_get_wec_cplx1 = resultats4.data
            })
            var path_to_call5 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity2'
            axios
            .get(path_to_call5)
            .then((resultats5) => {
              this.Project.url_mc_get_wec_cplx2 = resultats5.data
            })
            var path_to_call6 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/wec/complexity3'
            axios
            .get(path_to_call6)
            .then((resultats6) => {
              this.Project.url_mc_get_wec_cplx3 = resultats6.data
            })
            var path_to_call7 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity1'
            axios
            .get(path_to_call7)
            .then((resultats7) => {
              this.Project.url_mc_get_tec_cplx1 = resultats7.data
            })
            var path_to_call8 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity2'
            axios
            .get(path_to_call8)
            .then((resultats8) => {
              this.Project.url_mc_get_tec_cplx2 = resultats8.data
            })
            var path_to_call9 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/model/tec/complexity3'
            axios
            .get(path_to_call9)
            .then((resultats9) => {
              this.Project.url_mc_get_tec_cplx3 = resultats9.data
            })
            var path_to_call10 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/general'
            axios
            .get(path_to_call10)
            .then((resultats10) => {
              this.Project.url_mc_get_general = resultats10.data
            })
            var path_to_call11 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId + '/dimensions'
            axios
            .get(path_to_call11)
            .then((resultats11) => {
              this.Project.url_mc_get_dimensions = resultats11.data
            })
            var path_to_call12 = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/` + res2.data[0].entityId
            axios
            .get(path_to_call12)
            .then((resultats12) => {
              this.Project.url_mc_get_machine = resultats12.data
            })
          })
        }
        else if (this.entitylist.data[i].moduleId == 3) {
          const path_ec = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ec/entities`
          axios
          .get(path_ec)
          .then((res3) => {
            var path_to_call13 = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/` + res3.data[0].entityId + '/farm'
            axios
            .get(path_to_call13)
            .then((resultats13) => {
              this.Project.url_ec_get_farm = resultats13.data
            })
            var path_to_call14 = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/` + res3.data[0].entityId + '/inputs/farm'
            axios
            .get(path_to_call14)
            .then((resultats14) => {
              this.Project.url_ec_get_farm_inputs = resultats14.data
            })
          })
        } else if (this.entitylist.data[i].moduleId == 5) {
          const path_ed = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ed/entities`
          axios
          .get(path_ed)
          .then((res4) => {
            var path_to_call15 = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/api/energy-deliv-studies/` + res4.data[0].entityId + '/results'
            axios
            .get(path_to_call15)
            .then((resultats15) => {
              this.Project.url_ed_get_study_results = resultats15.data
            })
          })
        }
      }
    },
    load_inputs() {
      const name = this.Name
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${name}/loadinputs`
      axios.get(path)
      .then((res) => {
        this.Project = res.data[0]
        this.ProjectStatus = res.data[1]
      })
    },
    flag_settings() {
      if (typeof this.Project.url_ec_get_farm.url === 'undefined'){
        this.ProjectStatus.flag_url_ec_get_farm = 'True'
      }
      if (typeof this.Project.url_ec_get_farm_inputs.url === 'undefined'){
        this.ProjectStatus.flag_url_ec_get_farm_inputs = 'True'
      }
      if (typeof this.Project.url_mc_get_single_machine_hydrodynamic.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx1.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx1 = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx2.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx2 = 'True'
      }
      if (typeof this.Project.url_mc_get_wec_cplx3.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_wec_cplx3 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx1.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx1 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx2.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx2 = 'True'
      }
      if (typeof this.Project.url_mc_get_tec_cplx3.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_tec_cplx3 = 'True'
      }
      if (typeof this.Project.url_mc_get_general.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_general = 'True'
      }
      if (typeof this.Project.url_mc_get_dimensions.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_dimensions = 'True'
      }
      if (typeof this.Project.url_mc_get_machine.url === 'undefined'){
        this.ProjectStatus.flag_url_mc_get_machine = 'True'
      }
      if (typeof this.Project.url_sc_get_device_statistics.url === 'undefined'){
        this.ProjectStatus.flag_url_sc_get_device_statistics = 'True'
      }
      if (typeof this.Project.url_sc_get_farm.url === 'undefined'){
        this.ProjectStatus.flag_url_sc_get_farm = 'True'
      }
      if (typeof this.Project.url_ed_get_study_results.url === 'undefined'){
        this.ProjectStatus.flag_url_ed_get_study_results = 'True'
      }
    },
    CheatButton() {
      this.ProjectStatus.flag_url_ec_get_farm = 'False'
      this.ProjectStatus.flag_url_ec_get_farm_inputs = 'False'
      this.ProjectStatus.flag_url_mc_get_single_machine_hydrodynamic = 'False'
      this.ProjectStatus.flag_url_mc_get_wec_cplx1 = 'False'
      this.ProjectStatus.flag_url_mc_get_wec_cplx2 = 'False'
      this.ProjectStatus.flag_url_mc_get_wec_cplx3 = 'False'
      this.ProjectStatus.flag_url_mc_get_tec_cplx1 = 'False'
      this.ProjectStatus.flag_url_mc_get_tec_cplx2 = 'False'
      this.ProjectStatus.flag_url_mc_get_tec_cplx3 = 'False'
      this.ProjectStatus.flag_url_mc_get_general = 'False'
      this.ProjectStatus.flag_url_mc_get_dimensions = 'False'
      this.ProjectStatus.flag_url_mc_get_machine = 'False'
      this.ProjectStatus.flag_url_sc_get_device_statistics = 'False'
      this.ProjectStatus.flag_url_sc_get_farm = 'False'
      this.ProjectStatus.flag_url_ed_get_study_results = 'False'
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  font-family:"Open Sans"
}

.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
