<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>

      <plotly
        class="graph"
        v-bind="attr_plot"
        :data="data_plot"
        :layout="layout_plot"
      />
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import {Plotly} from 'vue-plotly'
export default {
  components: {
    Plotly
  },
  data() {
    return {
      attr_plot: { displayModeBar: true }
    };
  },
  computed: {
    ...mapState(['data_plot', 'layout_plot']),
    data_plot: {
      get () {
        return this.$store.state.data_plot
      },
      set (newValue) {
        return this.$store.dispatch('set_data_plotAction', newValue)
      }
    },
    layout_plot: {
      get () {
        return this.$store.state.layout_plot
      },
      set (newValue) {
        return this.$store.dispatch('set_layout_plotAction', newValue)
      }
    }
  }
};
</script>
<style>
.mark-up {
  margin-top: 8px;
}
.graph {
  height: 800px;
}
</style>